<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="change_password.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="wrapper-left">
        <img class="login-image" src="login_image.jpg" alt="">
    </div>
    <div class="wrapper-right">
        <h2 class="h2">Change Password</h2>
        <input class="c-p" type="text" id="Current Password" placeholder="Enter your current password">
        <input class="n-p" type="password" id="New Password" placeholder="Enter your new password">
        <input class="c-n-p" type="password" id="Confirm New Password" placeholder="Confirm your new password">
        <button class="c-p-button">Change Password</button>
    </div>
    </div>
</body>
</html>