

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Admin Dashboard</title>
    <link rel="stylesheet" href="AllDayData.css" />
  </head>
  <body>
    <div class="container">
       
      <div class="cardbox">
        <div class="card">
          <div>
            <div class="numbers">25.1k</div>
            <div class="cardname">Daily Earning</div>
            <a class="a" href="#"><strong>view report</strong></a>
          </div>
          <div class="iconbox">
            <ion-icon name="cart-outline"></ion-icon>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="numbers">$2,332K</div>
            <div class="cardname">Total profit</div>
            <a class="a" href="#"><strong>view report</strong></a>
          </div>
          <div class="iconbox">
            <ion-icon name="cart-outline"></ion-icon>
          
          </div>
        </div>
        <div class="card">
          <div>
            <div class="numbers">3.2M</div>
            <div class="cardname">Total no of booking</div>
            <a class="a" href="#"><strong>view more</strong></a>

          </div>
          <div class="iconbox">
            <ion-icon name=></ion-icon>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="numbers">23.1k</div>
            <div class="cardname">New customer</div>
            <a class="a" href="#"><strong>view more</strong></a>
          </div>
          <div class="iconbox">
            <ion-icon name="fa fa-user"></ion-icon>
          </div>
        </div>
 
     
               

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <script src="script.js"></script>
  </body>
</html>
