<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/coupleroomm.css">
    <title>Document</title>
</head>
<body>
    <div class="Main-wrapper">
        <div class="wrapper-top">
            <div class="top-left">
                <img src="../static/images/image3.jpg" alt="">
            </div>

            <div class="top-right">
                <div class="right-first">
                    <h2>Feature</h2>
                   <div >
                        <ul >
                            <li> Room-size:14m2/151 ft2</li>
                            <li> Non-smoking</li>
                            <li> Shower</li>
                        </ul>
                   </div>
         
                </div>
                <div class="right-second">

                    <h2>Bathroom and toiletries  </h2>

                    
                    <div >
                        <ul>
                          <li>Mirror</li>
                          <li>Towels</li>
                        </ul>
                    </div>
        
                </div>
                <div class="right-third">
                    <h2>Entertainment</h2>
                    <div >
                        <ul>
                           <li> Free wifi in all rooms</li>
                           <li> Satellite/cable channels</li>
                            <li>Telephone</li>
                         </ul>
                   
                    </div>
        
                </div>
                <div class="right-last">
                    <h2>Comforts</h2>
                    <div >
                        <ul class ="list4">
                           <li>Fan</li> 
                            <li>Linens</li>
                            <li>Slippers</li>
                           <li> Wake-up service</li>
                        </ul>
                    </div>
        
                </div>
        
            </div>
        
        </div>
        <div class="wrapper-bottom">
                <div>
                    <img src="../static/images/premium1.jpg" alt="">
                </div>
                <div>
                    <img src="../static/images/premium2.jpg" alt="">
                </div>
                <div >
                    <img src="../static/images/premium3.jpg" alt="">
                </div>
                <div >
                    <img src="../static/images/premium4.jpg" alt="">
                </div>
              
        </div>
    </div>
</body>
</html>