<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_landing_page</title>
    <link rel="stylesheet" href="../static/css/daily_profit.css">
</head>
<body>
    <div class="main-graph-wrap">
        <div class="main-visualize-data" >

            <div class="profit-data" >
                <canvas id="chart"></canvas>
            </div>
    
            <div class="pie-graph-data" >
                <canvas id="pie-graph"></canvas>
            </div>
        </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/javascript/daily_profit.js"></script>
</body>
</html>