<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/javascript/gallery.js"></script>
    <link rel="stylesheet" href="../static/css/gallery.css">
    <title>Gallery of Luxury Hotel </title>
</head>
<body>
    <div class="Main-Wrapper">
        <div class="Wrapper-top">
              <h2>GALLERY</h2>
               <p> We want your stay at our lush hotel to be truly unforgettable.  That is why we give special attention to all of your needs so 
                that we can ensure an experience quite uniquw. Luxury hotels offers the perfect setting with stunning views for leisure
                and our modern luxury resort facilities will help you enjoy the best of all.  </p>
        </div>
        <div class="Wrapper-bottom">
           

            <div id="bottom-up1" class="images">
                <img id="img_one" src="../static/images/gallery5.jpg" onclick="one_enlarge()" onmouseleave="one_reset()" style="width:100% ;height:100% ;" />
            </div>

            <div id="bottom-up2" class="images">
                <img id="img_two" src="../static/images/gallery3.jpg" onclick="two_enlarge()" onmouseleave="two_reset()" style="width:100% ;height:100% ;" />
            </div>

            <div id="bottom-up3" class="images">
                <img id="img_three" src="../static/images/gallery13.jpg" onclick="three_enlarge()" onmouseleave="three_reset()" style="width:100% ;height:100% ;"/>
            </div>

            <div id="bottom-up4" class="images">
                <img id="img_four" src="../static/images/gallery9.jpg" onclick="four_enlarge()" onmouseleave="four_reset()" style="width:100% ;height:100% ;"/>
            </div>

            <div id="bottom-up5" class="images">
            <img id="img_five" src="../static/images/gallery12.jpg" onclick="five_enlarge()" onmouseleave="five_reset()" style="width:100% ;height:100% ;" />
            </div>
            
            <div id="bottom-up6" class="images">
                <img id="img_six" src="../static/images/gallery1.jpg" onclick="six_enlarge()" onmouseleave="six_reset()" style="width:100% ;height:100% ;" />
            </div>

            <div id="bottom-up7" class="images">
                <img id="img_seven" src="../static/images/gallery2.jpg" onclick="seven_enlarge()" onmouseleave="seven_reset()" style="width:100% ;height:100% ;" />
            </div>

            <div id="bottom-up8" class="images">
                <img id="img_eight" src="../static/images/gallery3.jpg" onclick="eight_enlarge()" onmouseleave="eight_reset()" style="width:100% ;height:100% ;" />
            </div>

            <div id="bottom-up9" class="images">
                <img id="img_nine" src="../static/images/premium3.jpg" onclick="nine_enlarge()" onmouseleave="nine_reset()" style="width:100% ;height:100% ;"/>
            </div>

            <div id="bottom-up10" class="images">
                <img id="img_ten" src="../static/images/gallery4.jpg" onclick="ten_enlarge()" onmouseleave="ten_reset()" style="width:100% ;height:100% ;" />
            </div>

            <div id="bottom-up11" class="images">
                <img id="img_eleven" src="../static/images/gallery6.jpg" onclick="eleven_enlarge()" onmouseleave="eleven_reset()" style="width:100% ;height:100% ;"/>
            </div>

            <div id="bottom-up12" class="images">
                <img id="img_twelve" src="../static/images/luxeroom4.jpg" onclick="twelve_enlarge()" onmouseleave="twelve_reset()" style="width:100% ;height:100% ;" />
            </div>

            <div id="bottom-up13" class="images">
                <img id="img_thirteen" src="../static/images/gallery11.jpg" onclick="thirteen_enlarge()" onmouseleave="thirteen_reset()" style="width:100% ;height:100% ;"/>
            </div>

            <div id="bottom-up14" class="images">
                <img id="img_fourteen" src="../static/images/gallery8.jpg" onclick="fourteen_enlarge()" onmouseleave="fourteen_reset()" style="width:100% ;height:100% ;"/>
            </div>

            <div id="bottom-up15" class="images">
                <img id="img_fifteen" src="../static/images/gallery6.jpg" onclick="fifteen_enlarge()" onmouseleave="fifteen_reset()" style="width:100% ;height:100% ;"/>
            </div>

            <div id="bottom-up16" class="images">
                <img id="img_sixteen" src="../static/images/gallery10.jpg" onclick="sixteen_enlarge()" onmouseleave="sixteen_reset()" style="width:100% ;height:100% ;"/>
                </div>

            <div id="bottom-up17" class="images">
                <img id="img_seventeen" src="../static/images/gallery15.jpg" onclick="seventeen_enlarge()" onmouseleave="seventeen_reset()" style="width:100% ;height:100% ;"/>
            </div>

            <div id="bottom-up18" class="images">
                <img id="img_eighteen" src="../static/images/gallery14.jpg" onclick="eighteen_enlarge()" onmouseleave="eighteen_reset()" style="width:100% ;height:100% ;"/>
            </div>

            <div id="bottom-up19" class="images">
                <img id="img_ninteen" src="../static/images/gallery13.jpg" onclick="ninteen_enlarge()" onmouseleave="ninteen_reset()" style="width:100% ;height:100% ;"/>
                </div>

                <div id="bottom-up20" class="images">
                    <img id="img_twenty" src="../static/images/gallery7.jpg" onclick="twenty_enlarge()" onmouseleave="twenty_reset()" style="width:100% ;height:100% ;"/>
                </div>

            <div id="bottom-up21" class="images">
                    <img id="img_twentyone" src="../static/images/gallery2.jpg " onclick="twentyone_enlarge()" onmouseleave="twentyone_reset()" style="width:100% ;height:100% ;" />
                </div>


                



        <!-- </div>
        
        <div  class="modal">

                The Close Button
                 <span class="close"><i>&times;</i></span> 
                 <div class="modalContent">
        
                Modal Content (The Image)
              <img class="modalImg" src=""/> 
              

        
        

        </div>   -->
    


    
         

      


       
    </div>
    

</body>
</html>