<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/javascript/gallery.js"></script>
    <link rel="stylesheet" href="../static/css/gallery.css">
    <title>Gallery</title>
</head>
<body>
    <div class="Main-Wrapper">
        <div class="Wrapper-top">
              <h2>GALLERY</h2>
               
            
               <p> We want your stay at our lush hotel to be truly unforgettable.  That is why we give special attention to all of your needs so 
                that we can ensure an experience quite uniquw. Luxury hotels offers the perfect setting with stunning views for leisure
                and our modern luxury resort facilities will help you enjoy the best of all.  </p>
           

        </div>
        <div class="Wrapper-bottom">
           

            <div class="bottom-up1">
                <img src="../static/images/gallery5.jpg" style="width:100% ;height:100% ;" class="myImg"/>
            </div>

            <div class="bottom-up2">
                <img src="../static/images/gallery3.jpg" style="width:100% ;height:100% ;"class="myImg" />
            </div>

            <div class="bottom-up3">
                <img src="../static/images/gallery13.jpg" style="width:100% ;height:100% ;" class="myImg"/>
            </div>

            <div class="bottom-up4">
                <img src="../static/images/gallery9.jpg" style="width:100% ;height:100% ;"class="myImg"/>
            </div>

            <div class="bottom-up5">
            <img src="../static/images/gallery12.jpg" style="width:100% ;height:100% ;"class="myImg" />
            </div>
            
            <div class="bottom-up6">
                <img src="../static/images/gallery1.jpg" style="width:100% ;height:100% ;" class="myImg"/>
            </div>

            <div class="bottom-up7">
                <img src="../static/images/gallery2.jpg" style="width:100% ;height:100% ;" class="myImg"/>
            </div>

            <div class="bottom-up8">
                <img src="../static/images/gallery3.jpg" style="width:100% ;height:100% ;" class="myImg"/>
            </div>

            <div class="bottom-up9">
                <img src="../static/images/premium3.jpg" style="width:100% ;height:100% ;"class="myImg" />
            </div>

            <div class="bottom-up10">
                <img src="../static/images/gallery4.jpg" style="width:100% ;height:100% ;"class="myImg" />
            </div>

            <div class="bottom-up11">
                <img src="../static/images/gallery6.jpg" style="width:100% ;height:100% ;"class="myImg"/>
            </div>

            <div class="bottom-up12">
                <img src="../static/images/luxeroom4.jpg" style="width:100% ;height:100% ;" class="myImg"/>
            </div>

            <div class="bottom-up13">
                <img src="../static/images/gallery11.jpg" style="width:100% ;height:100% ;"class="myImg"/>
            </div>

            <div class="bottom-up14">
                <img src="../static/images/gallery8.jpg" style="width:100% ;height:100% ;"class="myImg"/>
            </div>

            <div class="bottom-up15">
                <img src="../static/images/gallery6.jpg" style="width:100% ;height:100% ;"class="myImg"/>
            </div>

            <div class="bottom-up16">
                <img src="../static/images/gallery10.jpg" style="width:100% ;height:100% ;"class="myImg"/>
                </div>

            <div class="bottom-up17">
                <img src="../static/images/gallery15.jpg" style="width:100% ;height:100% ;"class="myImg"/>
            </div>

            <div class="bottom-up18">
                <img src="../static/images/gallery14.jpg" style="width:100% ;height:100% ;"class="myImg"/>
            </div>

            <div class="bottom-up19">
                <img src="../static/images/gallery13.jpg" style="width:100% ;height:100% ;"class="myImg"/>
                </div>

                <div class="bottom-up20">
                    <img src="../static/images/gallery7.jpg" style="width:100% ;height:100% ;"class="myImg"/>
                </div>

            <div class="bottom-up21">
                    <img src="../static/images/gallery6.jpg " style="width:100% ;height:100% ;"class="myImg" />
                </div>


                



        </div>
        
            <div  class="modal">

               <!-- The Close Button --> -->
                 <span class="close"><i class ="fas fa-times"></i></span> 
                 <div class="modalContent">
        
                <!-- Modal Content (The Image)  -->
              <img class="modalImg" src=""/> 
              

        
        

            </div>  
    


    
           </div> -->

      


       
    </div>

</body>
</html>