<!DOCTYPE HTML>
<html>
<head>
   <title>Master room</title>
         
          <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
          <script src="../static/javascript/masterroom.js"></script>
         <link rel="stylesheet" href="../static/css/masterroom.css">
</head>
<body>
    <div class="Main-wrapper">
        
        <div class="wrapper-top">
           
           
            <div class="top-left">
                <div class="mySlides">
                    <div class="numbertext">1 / 5</div>
                      <img src="../static/images/masterroom1.jpg" style="width:100% ;height:100% ;">
                  </div>
                
                  <div class="mySlides">
                    <div class="numbertext">2 / 5</div>
                      <img src="../static/images/masterroom2.jpg" style="width:100%;height:100% ; ">
                  </div>
                
                  <div class="mySlides">
                    <div class="numbertext">3 / 5</div>
                      <img src="../static/images/masterroom3.jpg" style="width:100% ;height:100% ;">
                  </div>
                
                  <div class="mySlides">
                    <div class="numbertext">4 / 5</div>
                      <img src="../static/images/masterroom4.jpg" style="width:100% ;height:100% ;">
                  </div>
                
                  <div class="mySlides">
                    <div class="numbertext">5 / 5</div>
                      <img src="../static/images/masterroom5.jpg" style="width:100% ;height:100% ;">
                  </div>
                
                  
                 
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
                
                  
                </div>
            
            
            <div class="top-right">
                <div class="right-first">
                 
                     Features
                      <div >
                        <ul class ="list1">
                            <li> Room-size:28 m²/301 ft²</li>
                            <li> Garden-view</li>
                            <li> Balcony/terrace</li>
                            <li> Shower</li>
                        </ul>
                   </div>
         
                </div>
                <div class="right-second">
                   
                      Bathroom and toiletries  
              
                    
                    <div >
                        <ul class ="list2">
                            <li>Mirror</li>
                            <li>Geysers</li>
                          <li>Hair dryer</li>
                          <li>Towels</li>
                        </ul>
                    </div>
        
                </div>
                <div class="right-third">
                  
                      Entertainment
                 
                    <div>
                        <ul class ="list3"></ul>
                           <li> Free wifi in all rooms</li>
                           <li> Satellite/cable channels</li>
                            <li>Telephone</li>
                            <li>Free instant coffee</li>
                            <li>Seating area</li> 
                         </ul>
                   
                    </div>
        
                </div>
                <div class="right-last">
                    
                        Comforts
                  
                    <div >
                        <ul class ="list4">
                           <li>Air-conditioning</li> 
                           <li> Closet</li>
                            <li>Linens</li>
                            <li>Slippers</li>
                           <li> Wake-up service</li>
                        </ul>
                        <button class="btn2">Book Now</button>
                    </div>
        
                </div>
        
            </div>
        
        </div>


        <div class="wrapper-bottom">

            <div class="column">

                <img class="demo cursor" src="../static/images/masterroom1.jpg" style=" width:100%;height:100% ;" onclick="currentSlide(1)" alt="image1">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/masterroom2.jpg" style="width:100% ;height:100% ;" onclick="currentSlide(2)" alt="image2">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/masterroom3.jpg" style="width:100% ;height:100% ;" onclick="currentSlide(3)" alt="image3">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/masterroom4.jpg" style="width:100% ;height:100% ;" onclick="currentSlide(4)" alt="image4">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/masterroom5.jpg" style="width:100% ;height:100% ;" onclick="currentSlide(5)" alt="image5">
            </div>
             
            </div>
        
                
            </div>

    </div>

</body>

</html>