<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For notification</title>
    <link rel="stylesheet" href="../static/css/notification.css">
    <script src="../static/javascript/notification.js" defer></script>
</head>
<body>
    <nav>
		<div class="logo">Notification </div>
		<div class="icon" onclick="toggleNotification()">
			<img class="img_not" src="../static/images/Notification.jpg" alt=""> <span>5</span>
		</div>
		<div class="notifi-box" id="box">
			<h2>Notifications<span> 5</span></h2>
			<div class="notifi-item">
				<img src="../static/images/Profile icon.jpg" alt="img">
				<div class="text">
				   <h4>Abhishek Karki</h4>
				   <p>@lorem ipsum dolor sit amet</p>
			    </div> 
			</div>

			<div class="notifi-item">
				<img src="../static/images/Profile icon.jpg" alt="img">
				<div class="text">
				   <h4>Abhishek Bimali</h4>
				   <p>@lorem ipsum dolor sit amet</p>
			    </div> 
			</div>

			<div class="notifi-item">
				<img src="../static/images/Profile icon.jpg" alt="img">
				<div class="text">
				   <h4>Amul Bashyal</h4>
				   <p>@lorem ipsum dolor sit amet</p>
			    </div> 
			</div>

			<div class="notifi-item">
				<img src="../static/images/Profile icon.jpg" alt="img">
				<div class="text">
				   <h4>Rakhsit Shrestha</h4>
				   <p>@lorem ipsum dolor sit amet</p>
			    </div> 
			</div>

			<div class="notifi-item">
				<img src="../static/images/Profile icon.jpg" alt="img">
				<div class="text">
				   <h4>Bhawana Bashyal</h4>
				   <p>@lorem ipsum dolor sit amet</p>
			    </div> 
			</div>
		</div>
	</nav>
</body>
</html>