<!DOCTYPE HTML>
<html>
<head>
   <title>Premium room</title>
          <!-- meta http-equiv = "refresh" content="5" ;url= "https://schoolworkspro.com/modules/st5007cem-web-development-->
          <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
         <link rel="stylesheet" href="../static/css/premiumroom.css">
</head>
<body>
    <div class="Main-wrapper">
        <div class="wrapper-top">
            <div class="top-left">
               
                <div class="prev">
                    <button class="left-arrow"> < </button>
                   
                </div>
                <div class="next">
                    <button class="right-arrow">></button>
        
                </div>
        
            </div>
            <div class="top-right">
                <div class="right-first">
                   <div class="up">
                     Features
                   </div>
                   <div class="down">
                        <ul class ="list1">
                            <li> Room-size:16 m²/172 ft²</li>
                            <li> Non-smoking</li>
                            <li> Shower</li>
                        </ul>
                   </div>
         
                </div>
                <div class="right-second">
                    <div class="up">
                      Bathroom and toiletries  
                    </div>
                    
                    <div class="down">
                        <ul class ="list2">
                          <li>Mirror</li>
                          <li>Towels</li>
                        </ul>
                    </div>
        
                </div>
                <div class="right-third">
                    <div class="up">
                      Entertainment
                    </div>
                    <div class="down">
                        <ul class ="list3"></ul>
                           <li> Free wifi in all rooms</li>
                           <li> Satellite/cable channels</li>
                            <li>Telephone</li>
                         </ul>
                   
                    </div>
        
                </div>
                <div class="right-last">
                    <div class="up">
                        Comforts
                    </div>
                    <div class="down">
                        <ul class ="list4">
                           <li>Fan</li> 
                            <li>Linens</li>
                            <li>Slippers</li>
                           <li> Air-conditioning</li>
                           <li>Heating </li>
                           <li>Wakeup service</li>
                        </ul>
                    </div>
        
                </div>
        
            </div>
        
        </div>
        <div class="wrapper-bottom">
        
                <div class="Image2"></div>
                <div class="Image3"></div>
                <div class="Image4"></div>
                <div class="Image5"></div>
              
           
        </div>
    </div>
</body>
</html>