<!DOCTYPE HTML>
<html>
<head>
   <title>Couple room</title>
         
          <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
          <script src="../static/javascript/premiumroom.js"></script>
         <link rel="stylesheet" href="../static/css/premiumroom.css">
</head>
<body>
    <div class="Main-wrapper">
        
        <div class="wrapper-top">
           
           
            <div class="top-left">
                <div class="mySlides1">
                    <div class="numbertext">1 / 5</div>
                      <img src="../static/images/premium1.jpg" style="width:100% ;height:100% ;">
                  </div>
                
                  <div class="mySlides1">
                    <div class="numbertext">2 / 5</div>
                      <img src="../static/images/premium2.jpg" style="width:100%;height:100% ; ">
                  </div>
                
                  <div class="mySlides1">
                    <div class="numbertext">3 / 5</div>
                      <img src="../static/images/premium3.jpg" style="width:100% ;height:100% ;">
                  </div>
                
                  <div class="mySlides1">
                    <div class="numbertext">4 / 5</div>
                      <img src="../static/images/premium4.jpg" style="width:100% ;height:100% ;">
                  </div>
                
                  <div class="mySlides1">
                    <div class="numbertext">5 / 5</div>
                      <img src="../static/images/premium5.jpg" style="width:100% ;height:100% ;">
                  </div>
                
                  
                 
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
                
                  
                </div>
            
            
            <div class="top-right">
                <div class="right">
                   <div class="up">
                     Features
                   </div>
                   <div class="down">
                        <ul class ="list1">
                            <li> Room-size:28 m²/301 ft</li>
                            <li> Balcony/terrace</li>
                            <li> Garden view</li>
                            <li> Shower</li>
                        </ul>
                   </div>
         
                </div>
                <div class="right">
                    <div class="up">
                      Bathroom and toiletries  
                    </div>
                    
                    <div class="down">
                        <ul class ="list2">
                          <li>Mirror</li>
                          <li>Towels</li>
                          <li>Hair dryer</li>
                        </ul>
                    </div>
        
                </div>
                <div class="right">
                    <div class="up">
                      Entertainment
                    </div>
                    <div class="down">
                        <ul class ="list3"></ul>
                           <li> Free wifi in all rooms</li>
                           <li> Satellite/cable channels</li>
                            <li>Telephone</li>
                         </ul>
                   
                    </div>
        
                </div>
                <div class="right">
                    <div class="up">
                        Comforts
                    </div>
                    <div class="down">
                        <ul class ="list4">
                            <li>Air-conditioning</li>
                            <li>Heating</li>
                            <li>Umbrella</li>
                            <!-- <li>Coffee/tea maker</li> 
                            <li>Linens</li>
                            <li>Free instant coffee</li>
                            <li>Seating area</li> -->
                            <li>Refrigrator</li>
                            <li>Free welcome drink</li>
                            <!-- <li>Slippers</li>
                           <li> Wake-up service</li> -->
                        </ul>
                    </div>
        
                </div>
        
            </div>
        
        </div>


        <div class="wrapper-bottom">

            <div class="column">

                <img class="demo cursor" src="../static/images/premium1.jpg" style=" width:100%;height:100% ;" onclick="currentSlide(1)" alt="image1">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/premium2.jpg" style="width:100% ;height:100% ;" onclick="currentSlide(2)" alt="image2">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/premium3.jpg" style="width:100% ;height:100% ;" onclick="currentSlide(3)" alt="image3">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/premium4.jpg" style="width:100% ;height:100% ;" onclick="currentSlide(4)" alt="image4">
            </div>

            <div class="column">
                <img class="demo cursor" src="../static/images/premium5.jpg" style="width:100% ;height:100% ;" onclick="currentSlide(5)" alt="image5">
            </div>
             
            </div>
        
                
            </div>

    </div>

</body>

</html>