<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qr Code Generator</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu&amp;display=swap"
    />
   <link rel="stylesheet" href="../static/css/qrscannerstyle.css" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
   <style>
    input{
      display: none;
    }
   </style>
  </head>
  <body>
    <div class="header">
      <div class="box">
        <h1>Scan and Pay</h1>
        <hr />
        <div class="sqrcode"></div>
        <div class="qrcode"></div>
        
        <input type="text"
          onchange="generateQr()"
        />
      </div>
    </div>
    <script src="../static/javascript/qrscanner.js"></script>
  </body>
</html>