<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="E:\Sem3 GroupF\Group-F-Sem-3-Hotel-Management-System\static\css">
    
 
    </head>
    <body>
        <div class="split-screen">
            <div class="left">
                <img src="E:\Sem3 GroupF\Group-F-Sem-3-Hotel-Management-System\static\images" alt="bg_img">
            </div>

            
            <div class="right">
                <form>
                    <div>
                        <h3>Create an account</h3>
                        <p>Let's go started with your 30 days free trial.</p>
                    </div> <br>
                    <div class="input-container name">
                    <!-- <label for="fname">Full Name</label> -->
                        <input id="fname" name="fname" type="text" placeholder="Enter your name">
                    </div>
                    <div class="input-container number">
                        <!-- <label for="phnunm">Phone number</label> -->
                            <input id="phnum" name="phnum" type="text" placeholder="Enter your Phone number">
                        </div>
                    <div class="input-container email">
                        <!-- <label for="email">Email</label> -->
                        <input id="email" name="email" type="email" placeholder="Enter your E-mail">
                    </div>
                    <div class="input-container password">
                      <!-- <label for="email">Password</label> -->
                        <input id="password" name="password" type="password" placeholder="Enter your Password">
                        <i class="far fa-eye-slash"></i>
                    </div>

                        <button class="Submit" type="submit"> Create account</button>
                        <section class="copy">
                            <div class="login-content">
                                <p>Already have an account? <a href="#">
                                    <strong>Login</strong>
                                </a></p>
                            </div>    
                        </section>
                        <!-- <section class="copy legal">
                            <p> <span class="small">By continuing you agree to accept our<br><a href="#">Privacy Policy</a> &amp;<a href="#" >Terms of service</a> ,</span></p>
                        </section> -->
                    </div>
                </form>
             
            </div>
        
        </div>
    </body>
</html>