<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="E:\Sem3 GroupF\Group-F-Sem-3-Hotel-Management-System\static\css\style.css">
    
 
    </head>
    <body>
        <div class="split-screen">
        <div class="left">
            <section class="copy">
                <h1></h1>
                <p1></p1>
            </section>
        </div>
    
             <div class="right">
                <form>
                  <div>
                        <h2>Create an account</h2>
                        <p>Let's go started with your 30 days free trial.</p>
                    </div> <br><br>
                    
                    <div class="input-container name">
                    <label for="fname">Full Name</label>
                        <input id="fname" name="fname" type="text" placeholder="Enter your name">
                    </div>
                    <div class="input-container email">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" placeholder="Enter your E-mail">
                    </div>
                    <div class="input-container password">
                      <label for="email">Password</label>
                        <input id="password" name="password" type="password" placeholder="Enter your Password">
                    <i class="far fa-eye-slash"></i>
                    </div>
                    <!-- <div class="input-container cta">
                        <label class="checkbox-container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Sign up for email updates.
                        </label><br> -->
                        <button class="Submit" type="submit"> Create account</button>
                        <section class="copy">
                        <div class="login-content">
                            <p>Already have an account? <a href="#">
                                <strong>Login</strong>
                            </a></p>
                        </div>
                            
                    </section>
                        <section class="copy legal">
                            <p> <span class="small">By continuing you agree to accept our<br><a href="#">Privacy Policy</a> &amp;<a href="#" >Terms of service</a> ,</span></p>
                        </section>
                    </div>
                </form>
             </div>
            </div>
        </div>
    </body>
</html>