<!DOCTYPE HTML>
<html>
<head>
   <title>Room cover</title>
          <!-- meta http-equiv = "refresh" content="5" ;url= "https://schoolworkspro.com/modules/st5007cem-web-development-->
          <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
         <link rel="stylesheet" href="../static/css/roomcover.css">
</head>
<body>
    <img src="../static/images/lpgo (2).png" alt="Image not loaded" style="height: 120px; width:120px; float: left; 
    border-radius: 50%; margin-left: 15px; position: absolute; margin-top: 5px;">
 <div class="Main-Wrapper"> 
    
    <div class="Wrapper-top"> 
        <div class="wrapper-left">
        
              
        </div>
       <div class="wrapper-right">
        
        <button class ="btn1"> Home</button>
        <button class="btn2"> Facilities</button>
        <button class="btn3"> <a href="rooms.html"> Rooms</a> </button>
        <button class="btn4"> Gallery</button>
        <button class="btn5">Contact-us</button>
        </div>

    </div>
    <div class="Wrapper-bottom">
        <!-- <img src="rooms.jpg" alt="Image not loaded" style=" height:230px;
        width:1300px;
         /* float: left; position: absolute; margin-top: 5px; */
         "> -->
        <div class="top">
          <div class="wrapper-bottom-top">WELCOME TO</div>
          <div class="wrapper-bottom-middle-first">LUXURY </div>
          <div class="wrapper-bottom-middle-last">H O T E L S</div>
          <div class="wrapper-bottom-last">
            <p>Book your stay and enjoy Luxury
             redefined at the most affordables rates. </p>
            </div>

        </div>
       
        <div class="foot">
            <div class ="Wrapper-foot-left">
                 <div class="foot-left">
                     <div class="left-top">
                     Check in

                    </div>
                    <div class="left-foot">
                     <select name="12 june">
                     <option value ="b_1">13 june</option>
                     <option value ="b_2">14june</option>
                     <option value ="b_3">15june</option>
                     <option value ="b_3">16june</option>
                     <option value ="b_3">17june</option>
                     </select> 
                    </div>
                </div>
         
                 <div class="foot-middle">
                      <div class="middle-top">
                      Checkout

                    </div>
                    <div class="middle-foot">
                     <select name="22 june">
                     <option value ="b_1">23 june</option>
                     <option value ="b_2">24june</option>
                     <option value ="b_3">25june</option>
                     <option value ="b_3">26june</option>
                     <option value ="b_3">27june</option>
                     </select> 
                    </div>
                </div>
                <div class="foot-right">
                      <div class="right-top">
                          Guest
                     </div>
                     <div class="right-foot">
                      <select name="03">
                     <option value ="01">1</option>
                     <option value ="02">2</option>
                     <option value ="03">3</option>
                     <option value ="04">4</option>
                     <option value ="05">more than 4</option>
                     </select> 
               </div>
            </div>
            <div class="Wrapper-foot-right">
                <select name="22 june">
                  <option value ="b_1">Check availability</option>
                  <option value ="b_2">24june</option>
                  <option value ="b_3">25june</option>
                  <option value ="b_3">26june</option>
                  <option value ="b_3">27june</option>
                  </select> 
            </div> 
        </div> 
    </div>
       
</div>

</body>
</html>