<!DOCTYPE HTML>
<html>
<head>
   <title>Rooms</title>
          <!-- meta http-equiv = "refresh" content="5" ;url= "https://schoolworkspro.com/modules/st5007cem-web-development-->
          <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
         <link rel="stylesheet" href="../static/css/rooms.css">
</head>
<body>
    <div class="Main-Wrapper">
        <div class="Wrapper-top">
            <div class="top-left">
                <div class="top-up">
                    OUR CHOICE -------*
                </div>
                <div class="top-down">
                     The best room just for you!
                </div>

            </div>
            <div class="top-right">
               <p>Our hotel rooms have everything you need for a pleasant stay.
                 large comfortable beds covered with special bedspreads that get
                  made by themselves, and bathrooms that are clean and shiny. </p>
            </div>

        </div>

        <div class="Wrapper-bottom">
            <div class="bottom-up">
                <div class="up-left">
                   <div class="hole0">$300/night</div>
                   <button class="button0"> <a href="coupleroomm.html"> Couple Room</a> </button>

                </div>
                <div class="up-right">
                    
                    <div class="hole">$700/night</div>
                    <button class="button0"> <a href="luxeroom.html"> Luxe Room</a> </button>

                </div>

            </div>
            <div class="bottom-down">
                <div class="down-left">
                    <div class="hole1">$100/night</div>
                    <button class="button1"> <a href="premiumroom.html"> Premium Room</a> </button>

                </div>
                <div class="down-middle">
                    <div class="hole1">$100/night</div>
                    <button class="button1"> <a href="masterroom.html"> Master Room</a> </button>

                </div>
                <div class="down-right">
                    <div class="hole1">$600/night</div>
                    <button class="button1"> <a href="familyroom.html">Family Luxe</a> </button>

                </div>

            </div>

        </div>

    </div>

</body>
</html>