<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../static/javascript/script.js" defer></script>
  <link href="../static/css/navigation.css" rel="stylesheet">
  <link href="../static/css/Style.css" rel="stylesheet">
  <link href="../static/css/tabstyle.css" rel="stylesheet">
  <link rel="shortcut icon" type="x-icon" href="../static/images/logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <title>Services: List of the services provided to custoemr</title>

</head>

<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo"> <a href="#"><img src="../static/images/logo.png" alt=""></a></label>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a class="active">Services</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Find us</a></li>
      <button><a href="" class="login">bOOK</a></button>
    </ul>
  </nav>
  <section>
    <ul class="tabs">
      <li data-tab-target="#home" class="active tab">Bar</li>
      <li data-tab-target="#pricing" class="tab">Pickup</li>
      <li data-tab-target="#about" class="tab">Restaurent</li>
      <li data-tab-target="#delights" class="tab">culinary delight</li>
      <li data-tab-target="#gym" class="tab">gym</li>
    </ul>

    <div class="tab-content">
      <div id="home" data-tab-content class="active">
        <div class="maindiv">
          <div class="section">
            <img src="../static/images/hotel.jpg" alt="">
            <div class="text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque dolor
              molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
              repellendus fugit!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam culpa eveniet dignissimos labore odit, illo
              obcaecati totam facilis numquam alias beatae? Labore, rem inventore? Autem aliquid corrupti ab eveniet
              beatae!
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate architecto corporis nam numquam minima
              ut excepturi, a tempore itaque eligendi neque omnis modi laboriosam facere explicabo harum nulla minus
              quas!
              <br> <br>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
              soluta
              vel dignissimos a provident excepturi blanditiis voluptatum quis nam ea eum reiciendis exercitationem
              corporis quo!
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero cum perferendis ad incidunt nisi eius
              inventore? Nobis pariatur modi numquam, ducimus adipisci et nemo? Odit similique adipisci quaerat odio
              excepturi?
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor dicta excepturi quisquam doloremque nobis
              animi iste, quis dolorum ipsa commodi vitae eligendi id? Eos accusantium asperiores voluptatum enim
              maiores
              quas!
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error rem dignissimos quia, vitae ullam
              perferendis quisquam cupiditate at eaque, voluptatum repellendus quam exercitationem velit in quidem,
              commodi aliquid omnis quas.
            </div>
          </div>
          <div class="section">
            <img src="../static/images/hotel.jpg" alt="">
            <div class="text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque dolor
              molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
              repellendus fugit!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam culpa eveniet dignissimos labore odit, illo
              obcaecati totam facilis numquam alias beatae? Labore, rem inventore? Autem aliquid corrupti ab eveniet
              beatae!
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate architecto corporis nam numquam minima
              ut excepturi, a tempore itaque eligendi neque omnis modi laboriosam facere explicabo harum nulla minus
              quas!
              <br> <br>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
              soluta
              vel dignissimos a provident excepturi blanditiis voluptatum quis nam ea eum reiciendis exercitationem
              corporis quo!
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero cum perferendis ad incidunt nisi eius
              inventore? Nobis pariatur modi numquam, ducimus adipisci et nemo? Odit similique adipisci quaerat odio
              excepturi?
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor dicta excepturi quisquam doloremque nobis
              animi iste, quis dolorum ipsa commodi vitae eligendi id? Eos accusantium asperiores voluptatum enim
              maiores
              quas!
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error rem dignissimos quia, vitae ullam
              perferendis quisquam cupiditate at eaque, voluptatum repellendus quam exercitationem velit in quidem,
              commodi aliquid omnis quas.
            </div>

          </div>
          <div class="section">
            <img src="../static/images/hotel.jpg" alt="">
            <div class="text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque dolor
              molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
              repellendus fugit!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam culpa eveniet dignissimos labore odit, illo
              obcaecati totam facilis numquam alias beatae? Labore, rem inventore? Autem aliquid corrupti ab eveniet
              beatae!
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate architecto corporis nam numquam minima
              ut excepturi, a tempore itaque eligendi neque omnis modi laboriosam facere explicabo harum nulla minus
              quas!
              <br> <br>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
              soluta
              vel dignissimos a provident excepturi blanditiis voluptatum quis nam ea eum reiciendis exercitationem
              corporis quo!
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero cum perferendis ad incidunt nisi eius
              inventore? Nobis pariatur modi numquam, ducimus adipisci et nemo? Odit similique adipisci quaerat odio
              excepturi?
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor dicta excepturi quisquam doloremque nobis
              animi iste, quis dolorum ipsa commodi vitae eligendi id? Eos accusantium asperiores voluptatum enim
              maiores
              quas!
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error rem dignissimos quia, vitae ullam
              perferendis quisquam cupiditate at eaque, voluptatum repellendus quam exercitationem velit in quidem,
              commodi aliquid omnis quas.
            </div>

          </div>
        </div>

      </div>



      <div id="pricing" data-tab-content>
        <h1>Pricing</h1>
        <p>Some information on pricing</p>
      </div>
      <div id="about" data-tab-content>
        <h1>About</h1>
        <p>Let me tell you about me</p>
      </div>
      <div id="about" data-tab-content>
        <h1>hh</h1>
        <p>Let me tell you about me</p>
      </div>
      <div id="about" data-tab-content>
        <h1>hh</h1>
        <p>Let me tell you about me</p>
      </div>
    </div>
  </section>
</body>

</html>