<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Admin Blog List</title>
    <link rel="stylesheet" href="../static/css/adminBlogPage.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/dashstyle.css">
    <link rel="stylesheet" href="../static/css/navigation.css">
    <link rel="shortcut icon" type="x-icon" href="../static/images/logo.png">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../static/javascript/notification.js" defer></script>
    
</head>
<body>
<!--    Nav bar-->
    <nav>
        <label class="logo"> <a href="#"><img src="../static/images/logo.png" alt=""></a></label>
        <h1>Luxury Hotel: Admin Panel</h1>
        <nav>
            <div class="icon" onclick="toggleNotification()">
                <img class="img_not" src="../static/images/bell.png" alt=""> <span>5</span>
            </div>
            <div class="notifi-box" id="box">
                <h2>Notifications<span> 5</span></h2>
                <div class="notifi-item">
                    <img src="../static/images/Profile icon.jpg" alt="img">
                    <div class="text">
                        <h4>Abhishek Karki</h4>
                        <p>@lorem ipsum dolor sit amet</p>
                    </div>
                </div>

                <div class="notifi-item">
                    <img src="../static/images/Profile icon.jpg" alt="img">
                    <div class="text">
                        <h4>Abhishek Bimali</h4>
                        <p>@lorem ipsum dolor sit amet</p>
                    </div>
                </div>

                <div class="notifi-item">
                    <img src="../static/images/Profile icon.jpg" alt="img">
                    <div class="text">
                        <h4>Amul Bashyal</h4>
                        <p>@lorem ipsum dolor sit amet</p>
                    </div>
                </div>

                <div class="notifi-item">
                    <img src="../static/images/Profile icon.jpg" alt="img">
                    <div class="text">
                        <h4>Rakhsit Shrestha</h4>
                        <p>@lorem ipsum dolor sit amet</p>
                    </div>
                </div>

                <div class="notifi-item">
                    <img src="../static/images/Profile icon.jpg" alt="img">
                    <div class="text">
                        <h4>Bhawana Bashyal</h4>
                        <p>@lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>
        </nav>
    </nav>
    <div id="mySidenav" class="sidenav">
        <label class="logoInNav"> <a href="#"><img src="../images/logo.png" alt=""></a></label>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="active" href="#">dashboard</a>
        <a href="newBooking.html">new booking</a>
        <a href="../template/adminBlogPage.html">blogs and notice</a>
        <a href="#">Room</a>
        <a href="#">Galery</a>
        <a href="#">all booking</a>
        <a href="#">Website</a>
        <a href="#" style="margin-top: 150px">Logout</a>
    </div>
    <span class="burger" onclick="openNav()">&#9776;</span>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


<!--    bolg and news side-->
    <div class="blog-news-wrapper">
        <div class="blogList">
            <div class="blog-top">
                <h2>Blog List</h2>
                <div class="search-icon">
                    <input type="text" placeholder="Search by name" name="search">
                    <button type="submit" class ="btn4"><i class="fa fa-search"></i></button>
                </div>
                <button class="btn1"><a href="admin_blog.html">+ New Blog</a></button>

            </div>

            <div style="overflow-x:auto;"></div>
            <table id="blog-table">
                <tr>
                    <th>Blog_Id</th>
                    <th>Author</th>
                    <th>Topic</th>
                    <th>Published Date</th>
                    <th>Phone-number</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Maria Anders</td>
                    <td>Luxe Room</td>
                    <td>27/11/2022</td>
                    <td>9824234967</td>
                    <td><button class="btn2">Active</button></td>
                    <td>
                        <div class="td1">

                            <button class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></button>
                            <button class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></button>

                        </div>
                    </td>

                </tr>
                <tr>
                    <td id="blog-id">2</td>
                    <td id="author-name">Sofia Nepal</td>
                    <td id="topic-name">Family Room</td>
                    <td id="published-date">12/11/2022</td>
                    <td id="phone-no">9841234567</td>
                    <td><button class="btn2">Active</button></td>
                    <td ><div class="td1">

                        <button class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></button>
                        <button class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></button>

                    </div>  </td>
                </tr>
            </table>

            <br><br>
            <hr>
        </div>


        <br><br>

        <div class="noticeList">
            <div class="notice-top">
                <h2>Notice List</h2>
                <div class="search-icon">
                    <input type="text" placeholder="Search by name" name="search">
                    <button type="submit" class ="btn4"><i class="fa fa-search"></i></button>
                </div>
                <button class="btn1"><a href="notice-form.html">+ New Blog</a></button>
            </div>

            <div style="overflow-x:auto;"></div>
            <table id="notice-table">
                <tr>
                    <th>Notice_Id</th>
                    <th>Publisher</th>
                    <th>Topic</th>
                    <th>Published Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Maria Anders</td>
                    <td>Luxe Room</td>
                    <td>27/11/2022</td>
                    <td><button class="btn2">Active</button></td>
                    <td>
                        <div class="td1">

                            <button class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></button>
                            <button class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></button>

                        </div>
                    </td>

                </tr>
                <tr>
                    <td id="notice-id">2</td>
                    <td id="notice-author">Sofia Nepal</td>
                    <td id="notice-topic">Family Room</td>
                    <td id="notice-published">12/11/2022</td>
                    <td><button class="btn2">Active</button></td>
                    <td ><div class="td1">

                        <button class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></button>
                        <button class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></button>

                    </div>  </td>
                </tr>
            </table>

        </div>

    </div>

</body>
</html>