</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>see more details about our anniversay package</title>
    <link rel="stylesheet" href="../static/css/anniversarydetail.css">
    <!-- <script src="../static/javascript/nearby_places.js"></script> -->
</head>
<body>
    <div class="Main-wrapper">
        <h2>Anniversary with Luxury </h2>
       
       <div class="container1">
          
            <div class="top-left">
                <h3>We can't wait to start planning your special day</h3>
                <p>You want the anniversay of your dreams without compromise. A ceremony expressing the heart. Food which is delicious and tempts seconds. Styling where guests go wow. A room which allows you to celebrate.</p>
                <p>At Luxury anniversary we want to capture your dream and remove the stress so you can truly enjoy the day with your guests and family.</p>
                <p>We don’t want you to wait for information, to compromise your dream, to apologise to family and friends for the quality of ceremony music or the food not being delicious.</p>
                <p>You need one partner who can work with you to bring your dream to life and have everyone talking about the amazing anniversay you planned and dreamed of.</p>

                    <p>At Luxury we are passionate about creating beautiful, stress free events. We’ve done over 400 anniversary and know that planning a anniversay doesn’t have to be a stressful experience.</p>
            </div>
                
            <div class="top-right">
                <img class="image1" src="../static/images/anniversarypackage3.jpg" style="width:97% ;height:87% ;">
        
                    
            </div>
        </div>
        <hr width="54%" color="#233975" size="3px" align="left" />
        <img class="image2" src="../static/images/anniversarypackage1.jpg" style="width:100% ;height:50% ;">
        <h2>How we can help </h2>
        <div class="container2">
            <div class="bottom-left">
                <h3>Venue</h3>
                <p>At Luxury, we have 3 beautiful reception rooms and a stunning lawn for you to choose from. Whether you’re looking for a space for your engagement party, anniversay ceremony or reception, we have the perfect space for you.</p>
                <p>In addition to room hire we also provide; </p>
                <ul class ="list1">
                    <li> Room Set up</li>
                    <li> Furniture (tables, chairs, cocktail-style furniture, etc.)</li>
                    <li> Bar & Staffing</li>
                    <li> Food Service</li>
                    <li>Cutlery, crockery & glassware</li>
                    <li> White linens</li>
                    <li> Wireless microphone & sound system. </li>
                </ul>
                <p>We can also help you with your styling.</p>
            </div>


            <div class="bottom-right">
                <h3>Catering</h3>
               <p> Our chefs are amazing at what they do and we absolutely LOVE the menu’s they have created. We have menu’s to suit cocktail style events and sit-down style event.</p>
               <p>Our menu's include</p>
               <ul class ="list1">
               <li>Canapes</li>
               <li>Platters</li>
               <li> Grazing Tables</li>
               <li> Plated Meals</li>
               <li>Buffets</li>
               </ul>
               <p>If you can’t find the menu you you’re after, let us know and we can work together to create something delicious!  </p>
               <p>*All food and beverage staffing is provided by us. </p>
 

            </div>
            
        </div>
        <br/>
        <hr width="65%" color="#233975" size="3px" align="right" />
       
        <div class="container3">
            <div class="foot-left">
                <img class="image3" src="../static/images/anniversarypackage2.jpg" style="width:75% ;height:94% ;">
            </div>
            <div class="foot-right">
                <h3>Off-Site anniversary</h3>
                <p>Love our food and service, but are wanting to have your anniversay at a different location? Don’t worry – you can have the best of both worlds!</p>
                <h4>We now do off-site catering and anniversay planning!</h4>
                <p>Whether you simply want us for your catering, or you want our help to organising everything from furniture to styling – we’re here for you. Get in touch and we will put together a tailored quote for you. </p>
            </div>
        </div>
        
    </div>


</body>
</html>