<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News_and_Article
        </title>
        <link rel="stylesheet" href="../static/css/news_and_articles.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="recent-news-boxes.css" rel="stylesheet">
<!--        <link rel="stylesheet" href="./news_and_articles.css">-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="news_page">
            <img src="../static/images/familyroom2.jpg" alt="" >
            <h1>News and Articles List</h1>
                <div class="news_list">
                    <script type="text/javascript" src="https://www.24-7pressrelease.com/js/newsfeed.js"></script>
                    <script type="text/javascript" src="https://www.24-7pressrelease.com/js/js_press_releases.php?category_id=340&limit=20"></script>
                    <script type="text/javascript" src="../static/javascript/news_and_articles.js"></script>
                </div>
<!--         <script src="news_and_articles.js"></script>-->
        </div>
    </body>
</html>