<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Notice form</title>
    <link rel="stylesheet" href="../static/css/admin_blog.css">
</head>
<body>
    <div class="notice-upload">
        <h1>Add Notice</h1>
        <div class="upload_notice">
            <form id="add-notice-form">

                <label for="topic-name">Topic:</label><br>
                <input type="text" id="topic-name" name="title"><br>



                <label for="published-date">Date</label><br>
                <input type="text" id="published-date" name="title"><br>

                <label for="content">Content:</label><br>
                <textarea id="content" name="content"></textarea><br><br>

                <button type="submit" function="submit-notice"><a href="./adminBlogPage.html" style="color: white;">Submit</a></button>

            </form>
        </div>
    </div>
    <script src="../static/javascript/notice-upload.js"></script>


</body>
</html>