.body{
    height:100vh;
    margin:0px;
}

.Main-wrapper{
   
    height:100vh;
    display:flex;
    flex: 100%;
    flex-direction: column;
}


.wrapper-top{
   height:78%;
    display: flex;
}


.top-left{
    position: relative;
    width:75%;
}


.mySlides {
    display:none ;
    height:100%;
    width:100%;
}


.numbertext {
    color: #f2f2f2;
    font-size: 25px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }



.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -0px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}



.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }



.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}




.top-right{
    width:25%;
    display:flex;
    flex-direction: column;
   
}


.right{
    margin-top:10px;
    margin-left: 26px;
    height:25%;
}



.up{
    font-size: 22px;
    font-weight: bold;
    color:black;
}



.down{
    font-size: 15px;
    color:black;
}



.wrapper-bottom{
    margin-top:10px;
    
    height:22%;
    display:flex;
    background-color: rgba(20, 39, 74, 0.61);

}




.wrapper-bottom:after {
    content: "";
    display: table;
    clear: both;
}
  
  
  
.column {
   margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    
    float: left;
    width: 16.66%;
      
}
  
  
.demo {
    opacity: 0.6;
   
}


.cursor {
    cursor: pointer;
}
  
.active,
.demo:hover {
    opacity: 1;
}




.top-right{
    width:25%;
    display:flex;
    flex-direction: column;
   
}


.right{
    margin-top:10px;
    margin-left: 26px;
    height:25%;
}



.up{
    font-size: 22px;
    font-weight: bold;
    color:black;
}



.down{
    font-size: 15px;
    color:black;
}


