* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
    display: flex;
}
.main-wrapper{
    display: flex;
    margin-top: 5%;
    height: 60%;
    width: 100%;
    justify-content: center;
}
.wrapper-left{
    height: 70%;
    width: 60%;
    border-radius: 0px;
}
.login-image{
    width: 100%;
    height: 100%;
}   
.wrapper-right{
    border: 1px dotted black;
    width: 30%;
    border-radius: 0px;
    background: #FFFFFF;
    /* height: 100%; */
}
.h2{
    margin-top: 20%;
    margin-left: 8%;
    border-radius: nullpx;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.h3-1{
    margin-top: 3%;
    margin-left: 8%;
    border-radius: nullpx;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
     color: #000000;
}
.email-box{
    margin-top: 15%;
    margin-left: 8%;
    height: 45px;
    width: 80%;
    font-size: 13px;
    border-radius: 6px;
}
.password-box{
    margin-top: 5%;
    margin-left: 8%;
    width: 80%;
    height: 40px;
    font-size: 13px;
    border-radius: 6px;
}
.a-1{
    margin-top: 10%;
    margin-left: 70%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.forgot-button{
    margin-top: 5%;
    margin-left: 8%;
    width: 80%;
    height: 45px;
    border-radius: 6px;
    background-color: #3A3A3A;
    color: #FFFFFF;
}
.h3-2{
    margin-top: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #373737;
}
.a-2{
    font-size: 13px;
    color: #000000;
    text-decoration: none;
}

@media (max-width:1024px){
    .main-wrapper{
        margin-top: 15%
    };
}


@media (max-width:892px)  {
    .main-wrapper{
        display: flex;
        height: 100%;
        width: 100%;
        margin-top: 5%;
    }
    .wrapper-left{
        /* height: 100%;
        width: 100%;
        margin-top: 10%;
        margin-left: 1%; */
        display: none;
    }
    .login-image{
        display: none;
    }
    .wrapper-right{
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80%;
        border-radius: 0px;
        background: #FFFFFF;
    }
}

@media (max-width:552px)  {
    .main-wrapper{
        flex-direction: column;
        margin-top: 20%;
        margin-left: 10%;
        height: 100%;
        width: 80%;
        justify-items: center;
    }
    .wrapper-left{
        display: none;
    }
    .login-image{
        display: none;
    }
    .wrapper-right{
        height: 100%;
        width: 100%;
        border-radius: 0px;
        background: #FFFFFF;
    }
}

@media (max-width:320px) {
    .main-wrapper{
        margin-top: 50%;   
    }
} 