:root {
  --primary: #14274a;
  --secondary: #14274a;
  --white: #ffffff;
  --red: red;
  --black: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--white);
}
nav{
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top:0;
  /* margin-left: 30px;
  margin-right: 30px; */

}
nav h1{
  color: var(--white);
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
}

.logo img {
  height: 80px;
  width: 80px;
  margin-left: 20px;
}
/* push notification */
nav {
	display: flex;
	align-items: center;
	background: #187e97;
	height: 60px;
	position: relative;
}
.icon {
	cursor: pointer;
	margin-right: 50px;
	line-height: 60px;
}
.icon span {
	background: #f00;
	padding: 7px;
	border-radius: 50%;
	color: #fff;
	vertical-align: top;
	margin-left: -25px;
    font-size: x-small;
}
.img_not{
	display: inline-block;
	width: 35px;
	margin-top: 20px;
}
.icon:hover {
	opacity: .7;
}
.notifi-box {
	width: 300px;
	height: 0px;
	opacity: 0;
	position: absolute;
	top: 63px;
	right: 35px;
	transition: 1s opacity, 250ms height;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.notifi-box h2 {
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid #eee;
	color: #999;
}
.notifi-box h2 span {
	color: #f00;
}
.notifi-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 15px 5px;
	margin-bottom: 15px;
	cursor: pointer;
}
.notifi-item:hover {
	background-color: #eee;
}
.notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.notifi-item .text h4 {
	color: #777;
	font-size: 16px;
	margin-top: 10px;
}
.notifi-item .text p {
	color: #aaa;
	font-size: 12px;
}

@media (max-width: 500px) {
nav h1{
  font-size: 20px;
}
.bell{
font-size: 20px;
}
  
}


@media (max-width: 320px) {
  nav h1{
    display: none;
  }
    
  }
  