body{
    margin:0px;
    height:100vh;
    /* width:1000px; */
}
.Main-Wrapper{
    width:1000px;
    height:100vh;
    display:flex;
    flex: 100%;
    flex-direction: column;
}
 /* @media (min-width: 700px) {
    .extra{
        display: flex;
        
* {
    box-sizing:border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    padding: 64px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  .column-66 {javascript:void(0);
    float: left;
    width: 66.66666%;
    padding: 20px;
  }
  
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  
  .large-font {
    font-size: 48px;
  }
  
  .xlarge-font {
    font-size: 64px
  }
  
  .button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
  }
  
  img {
    display: block;
    height: auto;
    max-width: 100%;
  } */
  
  /* @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }
    }

}
@media (max-width: 380px) {
    .Main-Wrapper{
        flex: 40%;
    }
    .bottom-up{
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: stre;
        width: 30%;
    }
    .bottom-down{
        flex-direction: column;
    }
} */

.Wrapper-top{
  height:130px;
    display: flex;
    
    
}
.top-left{
    flex-grow: 2;
    margin-left: 25px;
    margin-top:30px;
 
}
.top-up{
    color:rgba(53, 1, 1, 0.718);
    font-size: 20px;
    font-style: oblique;
}
.top-down{
    color:rgba(53, 1, 1, 0.718);
    font-size: 37px;
    font-weight: bold;
    margin-top:13px;
    font-style: oblique;
}
.top-right{
    font-size: 17px;
    font-style:oblique;
    width:400px;
    flex-grow: 1;
    margin-top:30px;
  
  
}
p{
    margin-left:90px;
}
.Wrapper-bottom{
    margin-left: 25px;
    margin-top:13px;
    flex-grow:2;
    display:flex;
    flex-direction: column;
}
.bottom-up{
    flex-grow: 2;
   display:flex;
    
}
.up-left{
    flex-grow: 1;
    position: relative;
     background-image: url("../images/coupleroom.jpg"); 
    background-size: 100%,100%;
   
    
}
.up-right{
    flex-grow: 2;
    position: relative;
    background-image: url("../images/Luxeroom.jpg");
   background-size: 100%,100%;
    margin-left:13px;
}


.bottom-down{
    flex-grow: 1;
   display:flex;
   margin-top:13px;
}

.down-left{
    position: relative;
    flex-grow: 1;
    margin-right:13px;
    background-color:rgba(20, 39, 74, 0.61);
    background-image: url("../images/Premiumroom.jpg");
    background-size: 100%,100%;

}
.down-right{
    position: relative;
    flex-grow: 1;
    background-image: url("../images/Familyroom.jpg");
   background-size: 100%,100%;
}
.down-middle{
    position: relative;
    flex-grow: 1;
    margin-right:13px;
    background-image: url("../images/Masterroom.jpg");
   background-size: 100%,100%;
}







    /* background-image: url("Premiumroom.jpg");
    background-size:10%;
    background-repeat: no-repeat; */
    /* width: 10%; 
    height: 100%;  */
   

.hole0{
    position:absolute;
    color:rgba(53, 1, 1, 0.718);
    background-color: white;
    height:10%;
    width:24%;
    
}
.hole{
    position:absolute;
    color:rgba(53, 1, 1, 0.718);
    background-color: white;
    height:10%;
    width:20%;
    
}
.hole1{
    position:absolute;
    color:rgba(53, 1, 1, 0.718);
    background-color: white;
    height:20%;
    width:30%;
    
}
.button0{
    position:absolute;
    color:white;
    font-size: 20px;
    font-weight: 200;
   border:none;
   background-color: transparent;
    height:39px;
    width:200px;
    font-style: oblique;
    
}
.button0:hover{
    border-style: solid;
   }
/* .button{
    position:absolute;
    color:white;
    font-size: 20px;
    font-weight: 200;
   border:none;
   background-color: transparent;
    height:10%;
    width:30%;
    font-style: oblique;
    
    
}
.button2:hover{
    border-style: solid;
   } */
.button1{
    position:absolute;
    color:white;
    font-size: 20px;
    font-weight: 200;
   border:none;
   background-color: transparent;
   height:39px;
   width:200px;
    font-style: oblique;
    
}
/* .button2{
    position:absolute;
    color:white;
    font-size: 20px;
    font-weight: 200;
   border:none;
   background-color: transparent;
   height:39px;
   width:200px;
    font-style: oblique;
    
} */
.button1:hover{
    border-style: solid;
   }
.up-left .button0{
    bottom:0px;
    left:0px;

}
.up-right .button0{
    bottom:0px;
    left:0px;

}
.down-right .button1{
    bottom:0px;
    left:0px;

}
.down-left .button1{
    bottom:0px;
    left:0px;

}
.down-middle .button1{
    bottom:0px;
    left:0px;

}
.button1 a{
    color:white;
    font-size: 20px;
    font-weight: 200;
}
.button0 a{
    color:white;
    font-size: 20px;
    font-weight: 200;
}




