

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
:root {
   --blue: #301934; 
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #333;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* .navigation.active {
  width: 80px;
} */

.cardbox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.cardbox .card {
  position: relative;
  background-color: var(--white);
  padding: 10px;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardbox .card .numbers {
  position: relative;
  font-size: 2.1em;
  font-weight: 600;
  color: var(--black1);
}

.cardbox .card .cardname {
  color: var(--black1);
  font-size: 0.95em;
  margin-top: 5px;
}

.cardbox .card .iconbox {
  font-size: 3.2em;
  color: var(--black2);
}
.cardbox .card:hover {
  background: var(--blue);
}
.cardbox .card .a{
    font-size: smaller;
    margin-left: 2px;
}

.cardbox .card:hover .numbers,
.cardbox .card:hover .cardname,
.cardbox .card:hover .iconbox {
  color: var(--white);
  transition: 0.5s;
}




@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    left: 0;
    width: 300px;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardbox {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 480px) {
  .cardbox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardheader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
 
  .toggle {
    z-index: 10001;
  }
  .main.active.toggle {
    position: fixed;
    right: 0;
    left: initial;
    color: #fff;
  }
}
