<div th:fragment="admin_navigation">
    <!--    Nav bar-->
    <nav>
        <label class="logo"> <a href="#"><img th:src="@{~/images/logo.png}" alt=""></a></label>
        <h1>Luxury Hotel: Admin Panel</h1>
        <div class="icon" onclick="toggleNotification()">
            <img class="img_not" th:src="@{~/images/bell.png}" alt=""> <span>5</span>
        </div>
        <div class="notifi-box" id="box">
            <h2>Notifications<span> 5</span></h2>

            <div class="notifi-item">
                <img th:src="@{~/images/Profile icon.jpg}" alt="img">
                <div class="text">
                    <h4>Abhishek Karki</h4>
                    <p>@lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="notifi-item">
                <img th:src="@{~/images/Profile icon.jpg}" alt="img">
                <div class="text">
                    <h4>Abhishek Bimali</h4>
                    <p>@lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="notifi-item">
                <img src="../static/images/Profile icon.jpg" alt="img">
                <div class="text">
                    <h4>Amul Bashyal</h4>
                    <p>@lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="notifi-item">
                <img src="../static/images/Profile icon.jpg" alt="img">
                <div class="text">
                    <h4>Rakhsit Shrestha</h4>
                    <p>@lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="notifi-item">
                <img src="../static/images/Profile icon.jpg" alt="img">
                <div class="text">
                    <h4>Bhawana Shahi</h4>
                    <p>@lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>
    </nav>
    <div id="mySidenav" class="sidenav">
        <label class="logoInNav"> <a href="#"><img src="../images/logo.png" alt=""></a></label>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="list-group-item active" id="dash" th:href="@{~/admin/dashboard}">dashboard</a>
        <a class="list-group-item" id="new" th:href="@{~/admin/list}">new booking</a>
        <a class="list-group-item" id="blog" th:href="@{~/admin/bloglist}">blogs and notice</a>
        <a class="list-group-item" id="room" th:href="@{~/admin/room}">Room</a>
        <a class="list-group-item" id="gallery" th:href="@{~/admin/viewImage}">Gallery</a>
        <a class="list-group-item" id="book" th:href="@{~/admin/alllist}">all booking</a>
        <a class="list-group-item" id="laundary" th:href="@{~/admin/laundarylist}">Laundary Service</a>
        <a class="list-group-item"  id="web" th:href="@{~/admin/list}">Website</a>
        <a class="list-group-item" th:href="@{~/admin/list}" style="margin-top: 150px">Logout</a>
    </div>
    <span class="burger" onclick="openNav()">&#9776;</span>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


</div>