<div th:fragment="navigator">
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo"> <a th:href="@{/homepage}"><img th:src="@{~/images/ServicesImages/logo.png}" alt=""></a></label>
    <ul>
      <li><a class="list-group-item active" id="homepage"  th:href="@{~/homepage}">Home</a></li>
      <li><a th:href="@{~/homepage/about}" class="list-group-item" id="about">About</a></li>
      <li><a th:href="@{~/homepage/services}" class="list-group-item" id="services">Services</a></li>
      <li><a th:href="@{~/homepage/contact}" class="list-group-item" id="contact">Contact</a></li>
      <!--      <li><a th:href="@{~/homepage/booking}">Book</a></li>-->
      <!--      <li><a href="#">Contact</a></li>-->
      <li><a th:href="@{~/user/booking}" class="list-group-item" id="book">Book</a></li>
      <div class="dropdown">
        <button class="dropbtn">See More</button>
        <div class="dropdown-content">
          <a th:href="@{~/homepage/gallery}" class="list-group-item" id="gallery">Gallery</a>
          <a th:href="@{~/homepage/rooms}" class="list-group-item" id="rooms">Rooms</a>
          <a th:href="@{~/homepage/packages}" class="list-group-item" id="packages">Packages</a>
          <a th:href="@{~/homepage/viewblog}" class="list-group-item" id="blogs">Blogs</a>
          <a th:href="@{~/homepage/cabbook}" class="list-group-item" id="cab">Cab Book</a>
<!--          <a th:href="@{~/homepage/nearby_places}" class="list-group-item" id="nearby">Visit nearby</a>-->
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn imageButton" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg></button>
        <!-- <button class="dropbtn imageButton"><img src="images/logo.png" alt=""></button> -->
        <div class="dropdown-content">
          <a th:href="@{~/homepage/profile}" class="list-group-item" id="profile">Profile</a>
          <a href="#">Settings</a>
          <a href="#">logout</a>
        </div>
      </div>
    </ul>
  </nav>

</div>