* {
    box-sizing: border-box;
  }

  body {
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
  }

  .about-section{
    margin-top: 20px;
  }

  .about-hotel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding-left: 20%;
    padding-right: 20%;
  }

  .page{
    /*display: flex;*/
    padding-top: 20px;
    /*flex-direction: column;*/
    /*align-content: center;*/
    /*justify-content: center;*/

  }
  .topic-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(34, 33, 40);
    margin-top: 20px;
    margin-bottom: 30px;
  }
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 40px;
    /*margin-bottom: 80px;*/
  }


  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(26, 39, 35);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }



  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }


  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #ec5353;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .container :hover{
    background-color: rgb(54, 53, 53);
    color: white;
    /*border: none;*/
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgb(235, 216, 96);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent blueviolet ;
  }

  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(164, 162, 149);
    border-width: 10px 10px 10px 0;
    border-color: transparent moccasin transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }

  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: rgb(124, 178, 179);
    position: relative;
    border-radius: 6px;
  }

  .team-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 800px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }

    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
    .team-row {

      align-items: center;
      display: flex;
      flex-direction: column;

    }
  }




  .column {
    float: left;
    margin-bottom: 25px;
    margin-left: 6%;
    padding: 0 30px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;

    width: 320px;
    align-items: center !important;
  }
  .card img{
    width: 50%;
    margin-left: 80px;
   }
  /* .img {
    width:"20%";
    height:"20%";
  } */

  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  .container1 {
    padding: 0 16px;
  }


  .container1::after, .team-row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }

  .button:hover {
    background-color: #555;
  }

  @media screen and (max-width: 650px) {
    .column {
      /*width: 100%;*/
      /*display: block;*/
    }
  }