.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F3FF;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
.blog-news-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 100px;
}
.blogList{
    width:90%;
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    display: inline-block;
 
    margin-top: 3%;
}
.noticeList{
    width:90%;
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    display: inline-block;

    margin-top: 3%;
}


.blog-top{

    height:20%;
    display: flex;
    margin-bottom: 3%;
}

.notice-top{

    height:20%;
    display: flex;
    margin-bottom: 3%;
}

h2{
    margin-top:2%;
    /* text-align: end; */
    width: 15%;
}

.search-icon{
    display:flex;
    width:100%;
}
input{
    margin-left: 39%;
    margin-top: 4%;
    height:30px;
    width:85%;
    border-right: none;
    border-top: none;
    
    background: #F5F3FF;
    border-color: rgba(255, 255, 255, 0.564);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
   
}


.btn4{
    margin-top: 4%;
    height:33px;
    
 
   width:16%;
   
   
  font-weight: bold;
    color: black;
    font-size: 22px;
    background: #05b1eb;
    border-color: rgba(255, 255, 255, 0.564);
    border-left: none; 
    border-bottom: none;/* Prevent double borders */
    cursor: pointer;
}
.btn4:hover {
    
    color: black;
    font-weight: bold;
    border: solid  orange;
 }

.btn2:hover {
background: #0b7dda;
border: solid black;
}

/* Clear floats */
.wrapper-top::after {
content: "";
clear: both;
display: table;
}

.btn1{
    margin-left: 2%;
    margin-top: 2%;
    font-size: 15px;
    height:50px ;
    width:25%;
    border-radius: 24px;
    background-color: #5041BC;

    border-color: white;
}
a{
    color: white;
}
.btn1:hover {

    color: black;
    font-weight: bold;
    border: white solid;
 }

 .btn2{

    height:40px ;
    width:100%;
    border-radius: 24px;
    background-color: rgb(47, 160, 47);
    color:white;
    border-color: white;
}
.btn2:hover {


    font-weight: bold;
    border: white solid;
 }
.btn3{
    height:40px ;
    width:100%;

    border-radius: 24px;
    background-color: rgb(225, 152, 16);
    color:white;
    border-color: white;
}
.btn3:hover {

  background: #0b7dda;;
    font-weight: bolder;
    border: white solid;
 }

.wrapper-bottom{
    height:70%;
    width: 100%;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5%;
  }

  th {
    height: 70px;
    font-size: 17px;

  }



  /* tr:hover {background-color: #dad4f7;} */


  td {
    height: 50px;

    text-align: center;
  }
  th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;

  }
  .td1{
    display: flex;
    height:91%;
    width:100%;
    padding: 0;
    justify-content: center;
  }
  .material-icons{
    font-size: 32px;
    font-family: 'Material Icons';
  }
  .edit{
    color: rgb(225, 152, 16);
    margin-right: 2%;
    border: none;
    background: transparent;
    }
  .delete{
    color: rgb(165, 8, 8);
    margin-left: 3%;
    border: none;
    background: transparent;
}
.edit:hover{
    font-weight: bolder;
    background-color: #05b1eb;
}
.delete:hover{
    font-weight: bolder;
    background-color:  #05b1eb;
}

  i{
    font-size:25px;

}


  tr:nth-child(even) {background-color: #f2f2f2;}

hr {
    background-color: #663399; /* purple line color */
    /*justify-content: center;*/
    /*width: 100%; !* line width *!*/
    height: 2px; /* line height */
}


  @media (max-width: 900px) {
      html{
          display: flex;
      }
      .blog-top{
          flex-direction: row;
      }
      .notice-top{
          flex-direction: row;
      }
      .blogList{
          width: auto;
      }
      .noticeList{
          width: auto;
      }

      h2{
        text-align:left;
        font-size: 30px;
        font-weight: bolder;
        width: 50%;

    }
   .search-icon{
     margin-top: 1%;
     margin-bottom: 1%;
     /* height:100%; */
     /* width:100%; */
     justify-content: end;

    }
    input{
        margin-left: 0;
        margin-top: 0;
        height:70%;
        width:55%;
        font-size: 10px;

    }
    input:hover {
    border:black;


     }
    .btn4{
        margin-top: 0;
        height:70%;
        font-size: 95%;
        width:10%;

    }
    .btn4:hover {
        border:solid orange;


         }
    .btn1{
        height:30px;
        width:30%;
        font-size: 85%;
    }
    table{
        flex-wrap: wrap;
    }
  }

  @media (max-width: 590px) {
      html{
          display: flex;
      }

    .blog-top{
        flex-direction: row;
    }
    .notice-top{
        flex-direction: row;
    }
    .blogList{
        width: auto;
    }
    .noticeList{
        width: auto;
    }

    h2{
        text-align:left;
        font-size: 20px;
        font-weight: bolder;

    }
    .search-icon{
        /* margin-top: 4%;
        margin-bottom: 4%; */
        /* height:70px;
        width:100%; */
        justify-content: end;

       }
       input{
           margin-left: 0;
           margin-top: 0;
           height:100%;
           width:65%;
           font-size: 10px;

       }
       input:hover {
       border:black;


        }
       .btn4{
           margin-top: 0;
           height:100%;
           font-size: 10px;
           width:15%;

       }
       .btn4:hover {
           border:solid orange;


            }
    .btn1{
        height:30px;
        width:30%;
        font-size: 15px;
    }



  }
  @media (max-width: 450px) {
      html{
          display: flex;
      }

      .blog-top{
          flex-direction: row;
      }
      .notice-top{
          flex-direction: row;
      }
      .blogList{
          width: auto;
      }
      .noticeList{
          width: auto;
      }

      h2{
        text-align:left;
        font-size: 20px;
        font-weight: bolder;
        width: 50%;

    }
    .search-icon{
        /* margin-top: 4%;
        margin-bottom: 4%; */
        /* height:75px;
        width:186%; */
        justify-content: end;
           
       }
       input{
           margin-left: 0;
           margin-top: 0;
           height:35px;
           width:100%;
           font-size: 15px;
           
       }
       input:hover {
       border:black;
     
          
        }
       .btn4{
            margin-top: 0;
            height:100%;
            font-size: 10px;
            width:  20%;
   
       }
       .btn4:hover {
           border:solid orange;
         
              
            }
    .btn1{
        /* margin-top: 7%;
        margin-right: 45%;
        margin-bottom: 10%;
        height:89px ;
        width:100%;
        font-size: 35px; */

        height:30px;
        width:40%;
        font-size: 75%;
    }



  }
