:root {
  --primary: #14274a;
  --secondary: #14274a;
  --white: #ffffff;
  --red: red;
  --black: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    font-family: "Lato", sans-serif;
  }
  .logoInNav img {
    height: 80px;
    width: 80px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    justify-content: center;
  }
  
  .sidenav a {
    padding: 20px 8px 8px 40px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-transform: capitalize;
  }
  
  .sidenav a:hover {
    color: #ffffff;
  }
  a.active{
    border-bottom: 2px solid #878a8f;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .burger{
    padding-left: 40px;
    padding-top: 20px;
    font-size:30px;
    cursor:pointer
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }