:root {
  --primary: #14274a;
  --secondary: #14274a;
  --white: #ffffff;
  --black: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

footer {
  background-color:#14274a ;
  color: var(--white);
  margin-top: 5px;
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .information {
  width: 25%;
  text-transform: capitalize;
  /* background-color: red; */
}
footer .quicklinks {
  width: 25%;
  text-transform: capitalize;
}

footer .sociallinks {
  width: 25%;
  text-transform: capitalize;
   /*background-color: red;*/
  /* display: flex; */
}
footer .emailcontact {
  width: 25%;
  text-transform: capitalize;

  /* background-color: aqua; */
}

.information img {
  /* height: 80px; */
  width: 80px;
}
.information p a{
    padding: 2px;
    color: var(--white);
}
.quicklinks p a{
    padding: 4px;
    color: var(--white);
}
.sociallinks h4{
    padding: 3px;
}
.sociallinks h4 a{
    color: white;
    /*background-color: red;*/
}

.email{
    width:90% ;
    height: 35px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    width: 70%;
    display: flex;
    border: 3px solid var(--black);
}
.emailcontact input{
    padding-top: 5px;
    width: 90%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
    background:transparent;
    border: 0px;
    outline: none;
}
.email button{
background-color: var(--white);
color: var(--black);
height: 100%;
font-size: 10px;
/* border:1px solid black; */
border: 0px;
background: transparent;
}
.email button a{
    color: var(--black);
    text-decoration: none;
}
/*
.sociallinks .fab{
    padding: 7px;
    margin: 7px;
    border-radius: 50%;
    color: var(--white);
    font-size: 20px;
}
.sociallinks .fab:hover{
    background-color: var(--white);
    color: var(--primary);
    border-radius: 50%;

} */

/* .email button:hover{
    background-color: var(--black);
    color: var(--white);
    border:1px solid var(--white);
} */

@media (max-width: 858px) {
    footer {
        flex-direction: column;
    }
    footer .information {
        width: 100%;
        text-align: center;
        margin: 20px;
    }
    footer .quicklinks {
        width: 100%;
        text-align: center;
        margin: 20px;
    }
    footer .sociallinks {
        width: 100%;
        text-align: center;
        margin: 20px;
    }
    footer .emailcontact {
        width: 100%;
        text-align: center;
        margin: 20px;
    }
}