.news_page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.img{
    position: absolute;
}
.h1{

}
.news_list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8%;
    margin: 1%;
    
}