* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fields {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin-top: 5px;
    border: 2px solid black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 300px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
}

button {
    width: 200px;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 30px;
}

.maps {
    display: flex;
    /* width: 500px; */
    border: 2px solid black;
    height: 400px;
    width: 50%;
}