
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(45deg, purple, blue ); */
}
.star_rating p{
    color: lightgrey;
}
.rating_heading{
    color: white;
    animation: scale-up 1s ease;
}
.star_rating{

    position: relative;
    user-select:none ;
    background-color:black;
    padding: 1.4rem 2.5rem;
    margin: 2rem;
    border-radius: 4rem;
    text-align:center ;
    animation: slide-up 1s ease;
}
@keyframes slide-up{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity:1 ;
        transform: translateY(0px);
    }
}

.star{
    font-size: 3rem;
    color: #ff9800;
    background-color: unset;
    border:none ;
}

.star:hover{
    cursor: pointer;
}
.current_rating{
    color:#222;
}
.textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color:black;
    border: 1px solid lightgray;
    background:darkgrey;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
.btn{
    height: 45%;
    width: 100%;
    margin: 15px 0;
}
.btn button{
    height: 30%;
    width: 30%;
    border: 1px solid black;
    outline: none;
    background:darkgray;
    color: black;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition:all 0.3s ease ;
}
 .container .star_rating .btn .button:hover{
    background: #1b1b1b;

}

.container .text{
    font-size:25px ;
    color: #666;
    font-weight: 500;
}
.container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size:16px ;
    color: #666;
    font-weight: 500;
    cursor: pointer;


}

.container .post{
    display: none;
}