{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 'Akaya Telivigala';
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    margin-left: 43%;
    margin-bottom: 3%;

    width: 200px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    width: 45%;
background: white;
    position: fixed;
    /*bottom: 15%;*/
    bottom: 1%;
    right: 340px;
    /*right: 480px;*/
    border: 3px solid #f1f1f1;
    z-index: 9;
}


.form-container{
    display:flex;

    flex-direction: column;
    position: relative;
    margin-top: 2%;
    margin-left: 7%;


}
/* Style inputs with type="text", select elements and textareas */
input, select, textarea {
    width: 93%; /* Full width */
    padding: 6px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */

    background: #f1f1f1;
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input:focus, select:focus, textarea:focus{
    background-color: #ddd;
    outline: none;

}


h1{
    margin-bottom: 3%;
    color:#233975;
    font-family: 'Akaya Telivigala';
    font-size: 29px;
}

.btn-cancel{
    position: absolute;
    border:none;
    background-color: white;
    color:#142f83;
    right:1%;
    font-size: 20px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
.btn-cancel:hover{
opacity: 1;
}
.btn{
    background-color:#233975;
    color: white;
    padding: 9px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 22%;
}
.btn:hover {
    background-color: #142f83;
}






