<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About us</title>
        <link rel="stylesheet" th:href="@{~/css/aboutUs.css}">
        <link rel="stylesheet" th:href="@{~/css/footerStyle.css}">
    </head>
    <body>

      <div id="page" class="page">

        <div class="about-section">
          <div class="topic-heading">
            <h1>Our History</h1>
          </div>
          <p>Some text about who we are and what we do.</p>
          <p>Resize the browser window to see that this page is responsive by the way.</p>
        </div>
        <br>

        <div class="about-hotel">
            <h2 >Know more about us</h2>
          <p>The Luxury hotel offers the ultimate in comfort, style, and service. Guests can expect to be treated to spacious,
            elegantly appointed rooms and suites, complete with the latest in modern amenities. The hotel's facilities are designed
            to cater to the needs of even the most discerning traveler, with features such as a full-service spa, a state-of-the-art
            fitness center, and multiple dining options that range from casual bistros to fine dining restaurants. The hotel staff is
            dedicated to providing personalized attention and exceptional service, ensuring that every guest's stay is truly unforgettable.
            Whether you are planning a romantic getaway, a family vacation, or a business trip, a luxury hotel offers the perfect blend of elegance,
            comfort, and convenience. So, if you're looking for a luxurious and relaxing experience, a luxury hotel is an excellent choice.</p>

        </div>

        <div class="timeline">
          <div class="container left">
            <div class="content">
              <h2>2017</h2>
              <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h2>2016</h2>
              <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
              <h2>2015</h2>
              <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h2>2012</h2>
              <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
          <div class="container left">
            <div class="content">
              <h2>2011</h2>
              <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h2>2007</h2>
              <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
        </div>

      </div>



        <hr style="background-color: #3A3A3A; width: 100%; align-self: center">
        <br>
        <br>
      <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
      </div>


      <h2 style="text-align:center; margin-top: 20px">Our Team</h2>
        <div class="team-row">

          <div class="column">
            <div class="card">
              <img style="border-radius: 50%;" src="https://scontent.fktm1-1.fna.fbcdn.net/v/t1.6435-9/177586509_1425086371170122_5142681386954534916_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=e3f864&_nc_ohc=pTbZ3GUGwaIAX-CgF0E&_nc_ht=scontent.fktm1-1.fna&oh=00_AfCnRKa3ijGY4VHQbVADcRROna2WJMRoNlvPsuKEuRBpVw&oe=63DBC235" alt="Bimali" >
              <div class="container1">
                <h2>Abishek Bimali</h2>
                <p class="title">Scrum Master</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><a class="button" href="https://www.linkedin.com/in/abishekbimali/" target="_blank" rel="nofollow" title="LinkedIn">Contact</a></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img style="border-radius: 50%;" src="https://scontent.fktm19-1.fna.fbcdn.net/v/t39.30808-6/267659334_1543610682680548_5369120937998384975_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Z2_sP8w1w38AX9mDLjG&_nc_ht=scontent.fktm19-1.fna&oh=00_AfBwliIyYqynF7Gy6m2XSWGWxqjoMV7d-FlgZrfNr1C0tw&oe=63C1F983" alt="Rakshit">
              <div class="container1">
                <h2>Rakshit Shrestha</h2>
                <p class="title">Designer and Progmmer Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><a class="button" href="https://www.linkedin.com/in/rakshit-shrestha-135392200/" target="_blank" rel="nofollow" title="LinkedIn">Contact</a></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img style="border-radius: 50%;" src="https://scontent.fktm19-1.fna.fbcdn.net/v/t39.30808-6/257132320_663257261714891_302445114619902124_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=5-8LRGJrei8AX-FJ5u0&_nc_ht=scontent.fktm19-1.fna&oh=00_AfDhpUwmtkTTKHzNQZPKlJRfMZYPMruhs10-B6kJH-gvdQ&oe=63C15E97" alt="Karki" >
              <div class="container1">
                <h2>Abishek Karki</h2>
                <p class="title">Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><a class="button" href="https://www.linkedin.com/in/abhishek-karki-347b31233/" target="_blank" rel="nofollow" title="LinkedIn">Contact</a></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img style="border-radius: 50%;" src="https://scontent.fktm19-1.fna.fbcdn.net/v/t1.6435-9/119442547_406172733705281_1524311494095458364_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=g_2aD4r1eRgAX__Ntt-&_nc_ht=scontent.fktm19-1.fna&oh=00_AfAmaajq4ubdh6SalWGgRStX73jv2UYxAswQ84ybbQ9Q3w&oe=63E3BADB" alt="Amnul" >
              <div class="container1">
                <h2>Amul Bashyal</h2>
                <p class="title">Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><a class="button" href="https://www.linkedin.com/in/amul-bashyal-a96209233/" target="_blank" rel="nofollow" title="LinkedIn">Contact</a></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img style="border-radius: 50%;" src="https://scontent.fktm19-1.fna.fbcdn.net/v/t39.30808-6/271237237_454073772986741_5652318194002563141_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ad2b24&_nc_ohc=qxUkjxRtjgMAX8mD7Aa&_nc_ht=scontent.fktm19-1.fna&oh=00_AfAIyrjFhzpx7a000nlhTlKnA0ArsmB-vKCZiY1M_CMpAg&oe=63C5AB3E" alt="Purnima">
              <div class="container1">
                <h2>Purnima Bohara</h2>
                <p class="title">Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><a class="button" href="#" target="_blank" rel="nofollow" title="LinkedIn">Contact</a></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img style="border-radius: 50%;" src="https://media.licdn.com/dms/image/C4D03AQH3eBh7zzuyCg/profile-displayphoto-shrink_800_800/0/1656425479553?e=1678924800&v=beta&t=ePPKBX6CNKh7A3ZLRU-FW3Asjc6BflZ9FJ1kyfTs2aM" alt="Bhawana" >
              <div class="container1">
                <h2>Bhawana Shahi</h2>
                <p class="title">Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><a class="button" href="https://www.linkedin.com/in/bhawana-rl-shahi-a912aa238/" target="_blank" rel="nofollow" title="LinkedIn">Contact</a></p>
              </div>
            </div>
          </div>

        </div>
        <br>


    <div th:replace="fragments/Footer_frag.html :: footer"></div>
  
    </body>
</html>