<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
  <link rel="stylesheet" th:href="@{~/css/aboutUs.css}">
  <link rel="stylesheet" th:href="@{~/css/home_navigationStyle.css}">
  <link rel="stylesheet" th:href="@{~/css/footerStyle.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


</head>

<body>
  <div th:replace="fragments/Navi_frag.html :: navigator"></div>


  <div id="page" class="page">

    <div class="about-section" id="history">
      <div class="topic-heading">
        <h1>Our History</h1>
      </div>
      <p>Some text about who we are and what we do.</p>
      <p>Resize the browser window to see that this page is responsive by the way.</p>
    </div>
    <br>

    <div class="about-hotel">
      <h2>Know more about us</h2>
      <p>The Luxury hotel offers the ultimate in comfort, style, and service. Guests can expect to be treated to
        spacious,
        elegantly appointed rooms and suites, complete with the latest in modern amenities. The hotel's facilities are
        designed
        to cater to the needs of even the most discerning traveler, with features such as a full-service spa, a
        state-of-the-art
        fitness center, and multiple dining options that range from casual bistros to fine dining restaurants. The hotel
        staff is
        dedicated to providing personalized attention and exceptional service, ensuring that every guest's stay is truly
        unforgettable.
        Whether you are planning a romantic getaway, a family vacation, or a business trip, a luxury hotel offers the
        perfect blend of elegance,
        comfort, and convenience. So, if you're looking for a luxurious and relaxing experience, a luxury hotel is an
        excellent choice.</p>

    </div>

    <div class="timeline">
      <div class="container left">
        <div class="content">
          <h2>2017</h2>
          <p>The hotel completed its most recent renovation, further enhancing the guest experience with the addition of
            additional amenities such as a swimming pool and a business center. Throughout its history, Luxary Hotel has
            remained true to its vision of providing guests with the ultimate luxury experience</p>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>2016</h2>
          <p>The hotel's main restaurant was refurbished and rebranded to offer a more upscale dining experience. The
            hotel's bar also received a facelift and expanded its menu to include a wider range of cocktails and wines.
          </p>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <h2>2015</h2>
          <p>The hotel introduced its exclusive Executive Lounge, which was exclusively available to guests staying in
            executive level rooms. The lounge was designed to provide a comfortable and productive space for business
            travelers, with amenities such as a private meeting room, complimentary high-speed internet, and a dedicated
            concierge.

          </p>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>2012</h2>
          <p>Luxury hotel added a rooftop restaurant and lounge, which offered stunning views of the city. The
            restaurant served delicious food and cocktails, and became a popular spot for guests to unwind and enjoy a
            meal.</p>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <h2>2011</h2>
          <p>The hotel added a new spa and fitness center, which quickly became a favorite among guests looking to relax
            and rejuvenate during their stay. The spa offered a variety of treatments such as massages, facials, and
            body wraps, while the fitness center was equipped with the latest cardio and strength-training equipment.
          </p>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>2007</h2>
          <p>Luxary Hotel underwent a major renovation, introducing new guest rooms and upgrading its facilities.</p>
        </div>
      </div>
    </div>

  </div>



  <hr style="background-color: #3A3A3A; width: 100%; align-self: center">
  <br>
  <br>
  <div class="about-section" id="about-us">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>


  <h2 style="text-align:center; margin-top: 20px">Our Team</h2>
  <div class="team-row">

    <div class="column">
      <div class="card">
        <img style="border-radius: 50%;"
          src="https://scontent.fktm1-1.fna.fbcdn.net/v/t1.6435-9/177586509_1425086371170122_5142681386954534916_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=e3f864&_nc_ohc=pTbZ3GUGwaIAX-CgF0E&_nc_ht=scontent.fktm1-1.fna&oh=00_AfCnRKa3ijGY4VHQbVADcRROna2WJMRoNlvPsuKEuRBpVw&oe=63DBC235"
          alt="Bimali">
        <div class="container1">
          <h2>Abishek Bimali</h2>
          <p class="title">Scrum Master</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>abishekBm@gmail.com</p>
          <p><a class="button" href="https://www.linkedin.com/in/abishekbimali/" target="_blank" rel="nofollow"
              title="LinkedIn">Contact</a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img style="border-radius: 50%;"
          src="https://scontent.fktm19-1.fna.fbcdn.net/v/t39.30808-6/267659334_1543610682680548_5369120937998384975_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Z2_sP8w1w38AX9mDLjG&_nc_ht=scontent.fktm19-1.fna&oh=00_AfBwliIyYqynF7Gy6m2XSWGWxqjoMV7d-FlgZrfNr1C0tw&oe=63C1F983"
          alt="Rakshit">
        <div class="container1">
          <h2>Rakshit Shrestha</h2>
          <p class="title">Designer and Progmmer Developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>rakxit121@gmail.com</p>
          <p><a class="button" href="https://www.linkedin.com/in/rakshit-shrestha-135392200/" target="_blank"
              rel="nofollow" title="LinkedIn">Contact</a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img style="border-radius: 50%;"
          src="https://scontent.fktm19-1.fna.fbcdn.net/v/t39.30808-6/257132320_663257261714891_302445114619902124_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=5-8LRGJrei8AX-FJ5u0&_nc_ht=scontent.fktm19-1.fna&oh=00_AfDhpUwmtkTTKHzNQZPKlJRfMZYPMruhs10-B6kJH-gvdQ&oe=63C15E97"
          alt="Karki">
        <div class="container1">
          <h2>Abishek Karki</h2>
          <p class="title">Developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>abishekK@gmail.com</p>
          <p><a class="button" href="https://www.linkedin.com/in/abhishek-karki-347b31233/" target="_blank"
              rel="nofollow" title="LinkedIn">Contact</a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img style="border-radius: 50%;"
          src="https://scontent.fktm19-1.fna.fbcdn.net/v/t1.6435-9/119442547_406172733705281_1524311494095458364_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=g_2aD4r1eRgAX__Ntt-&_nc_ht=scontent.fktm19-1.fna&oh=00_AfAmaajq4ubdh6SalWGgRStX73jv2UYxAswQ84ybbQ9Q3w&oe=63E3BADB"
          alt="Amnul">
        <div class="container1">
          <h2>Amul Bashyal</h2>
          <p class="title">Developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>amul@gmail.com</p>
          <p><a class="button" href="https://www.linkedin.com/in/amul-bashyal-a96209233/" target="_blank" rel="nofollow"
              title="LinkedIn">Contact</a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img style="border-radius: 50%;"
          src="https://scontent.fktm19-1.fna.fbcdn.net/v/t39.30808-6/271237237_454073772986741_5652318194002563141_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ad2b24&_nc_ohc=qxUkjxRtjgMAX8mD7Aa&_nc_ht=scontent.fktm19-1.fna&oh=00_AfAIyrjFhzpx7a000nlhTlKnA0ArsmB-vKCZiY1M_CMpAg&oe=63C5AB3E"
          alt="Purnima">
        <div class="container1">
          <h2>Purnima Bohara</h2>
          <p class="title">Developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>purnima@gmail.com</p>
          <p><a class="button" href="https://www.linkedin.com/in/purnima-bohara-382a06243/" target="_blank"
              rel="nofollow" title="LinkedIn">Contact</a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img style="border-radius: 50%;"
          src="https://media.licdn.com/dms/image/C4D03AQH3eBh7zzuyCg/profile-displayphoto-shrink_800_800/0/1656425479553?e=1678924800&v=beta&t=ePPKBX6CNKh7A3ZLRU-FW3Asjc6BflZ9FJ1kyfTs2aM"
          alt="Bhawana">
        <div class="container1">
          <h2>Bhawana Shahi</h2>
          <p class="title">Developer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>bhawana@gmail.com</p>
          <p><a class="button" href="https://www.linkedin.com/in/bhawana-rl-shahi-a912aa238/" target="_blank"
              rel="nofollow" title="LinkedIn">Contact</a></p>
        </div>
      </div>
    </div>

  </div>
  <br>

  <div class="youtube-vid" id="popup-container"
       style="display:none; position:fixed; top:10%; left:10%;
        width:80%; height:60%; background-color:white; z-index:1;">
    <div style="position:absolute; top:0; right:0;">
      <button onclick="document.getElementById('popup-container').style.display='none'">X</button>
    </div>
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Rick Astley - Never Gonna Give You Up (Official Music Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" ></iframe>
  </div>

  <script>
    setTimeout(function(){
      document.getElementById('popup-container').style.display='block';
    }, 5000);
  </script>


  <div th:replace="fragments/Footer_frag.html :: footer"></div>

</body>
<script>
  let myPage = "about";
  let listGroupItem = Array.from(document.getElementsByClassName("list-group-item"));
  listGroupItem.forEach(i => {
    i.classList.remove("active")
  })
  let activeID = document.getElementById(myPage);
  activeID.classList.add("active");
</script>


</html>