<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Images to gallery</title>
    <link rel="stylesheet" th:href="@{~/css/add_images.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{/images/ServicesImages/logo.png}">
</head>
<body>
<h1>Add Images to Gallery</h1>
<div class="uplaod_image">
    <form id="add-post-form" th:method="post" th:action="@{/admin/addgallery}" th:object="${gallery}" enctype="multipart/form-data">

        <label for="image_path">Name of the images</label><br>
        <input type="text" id="image_path" name="image_path"  th:field="*{name}" th:value="${gallery.name}"><br>


<!--        <label for="image_description">Image Description</label><br>-->
<!--        <textarea id="image_description" name="image_description"></textarea><br><br>-->

        <!-- to upload image -->
        <p><input type="file"  name="image" id="file" accept="image/*" required   onchange="loadFile(event)" style="display: none;"></p>
        <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
        <p><img id="output" width="200px" /></p>

        <button type="submit">Submit</button>


        <script>
            var loadFile = function(event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
            };
        </script>
    </form>
</div>







</body>
</html>