<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Admin Blog List</title>
    <link rel="stylesheet" th:href="@{/css/adminBlogPage.css}">
    
</head>
<body>
    <div class="blog-news-wrapper">
        <div class="blogList">
            <div class="blog-top">
                <h2>Blog List</h2>
                <div class="search-icon">
                    <input type="text" placeholder="Search by name" name="search">
                    <button type="submit" class ="btn4"><i class="fa fa-search"></i></button>
                </div>
                <button class="btn1"><a th:href="@{~/admin/newblog}">+ New Blog</a></button>

            </div>

            <div style="overflow-x:auto;"></div>
            <table id="blog-table">
                <tr>
                    <th>Blog_Id</th>
                    <th>Author</th>
                    <th>Topic</th>
                    <th>Published Date</th>
                    <th>Phone-number</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="blog:${blog}">
                    <td th:text="${blog.id}"></td>
                    <td th:text="${blog.author}"></td>
                    <td th:text="${blog.topic}"></td>
                    <td th:text="${blog.date}">27/11/2022</td>
                    <td th:text="${blog.phoneNum}">9824234967</td>
<!--                    <td><button class="btn2">Active</button></td>-->
                    <td> <a class="edit" th:href="@{~/admin/editblog/}+${blog.id}" >delete</a></td>
                    <td> <a class="delete" th:href="@{~/admin/editblog/}+${blog.id}" >delete</a></td>
<!--                        <div class="td1">-->

<!--                            <button class="edit" title="Edit" data-toggle="tooltip" th:href="@{~/admin/editblog/}+${blog.id}"><i class="material-icons">&#xE254;</i></button>-->
<!--
                            <button class="delete" title="Delete" data-toggle="tooltip" th:href="@{~/admin/deleteblog/}+${blog.id}"><i class="material-icons">&#xE872;</i></button>
-->
<!--                        </div>-->
<!--                    </td>-->

                </tr>

            </table>

            <br><br>
            <hr>
        </div>


        <br><br>

        <div class="noticeList">
            <div class="notice-top">
                <h2>Notice List</h2>
                <div class="search-icon">
                    <input type="text" placeholder="Search by name" name="search">
                    <button type="submit" class ="btn4"><i class="fa fa-search"></i></button>
                </div>
                <button class="btn1"><a href="admin_blog.html">+ New Blog</a></button>
            </div>

            <div style="overflow-x:auto;"></div>
            <table id="notice-table">
                <tr>
                    <th>Notice_Id</th>
                    <th>Publisher</th>
                    <th>Topic</th>
                    <th>Published Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Maria Anders</td>
                    <td>Luxe Room</td>
                    <td>27/11/2022</td>
                    <td><button class="btn2">Active</button></td>
                    <td>
                        <div class="td1">

<!--                            <button class="edit" title="Edit" data-toggle="tooltip" th:href="@{~/admin/edit/}+${booking.id}"><i class="material-icons">&#xE254;</i></button>-->
<!--                            <button class="delete" title="Delete" data-toggle="tooltip" th:href="@{~/admin/delete/}+${booking.id}"><i class="material-icons">&#xE872;</i></button>-->

                        </div>
                    </td>

                </tr>

            </table>

        </div>

    </div>
</body>
</html>