<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>User Blog</title>
    <link rel="stylesheet" th:href="@{/css/blog.css}" />
    <link rel="stylesheet" th:href="@{~/css/footerStyle.css}">
  </head>

  <body>
    <div class="header">
      <h2>Hotel Blog</h2>
    </div>
    
    <div class="row_blog">
      <div class="leftcolumn">
<!--        <div class="card" th:each="blog:${blogList}">-->
<!--          <h2 th:text="${blog.topic}"></h2>-->
<!--          <h5 th:text="${blog.topic}", th:text="${blog.date}"></h5>-->
<!--          <div class="fakeimg" style="height:100%;"><img th:src="${~/images/bg_img.jpg}" alt="img"></div>-->
<!--          <p th:text="${blog.content}"></p>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <h2>Renovation</h2>-->
<!--          <h5>Some discription of the topic, Sep 2, 2017</h5>-->
<!--          <div class="fakeimg" style="height:100%;"><img src="../static/images/bg_img.jpg" alt="img"></div>-->
<!--          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi incidunt in deserunt vel-->
<!--             quibusdam quam rerum quis eos illum. Tempora in labore atque iste reprehenderit corrupti,-->
<!--             possimus pariatur quasi maxime.</p>-->
<!--        </div>-->
      </div>
      <div class="rightcolumn">
<!--        <div class="card" th:each="blog:${blogList}">-->
<!--          <h2 th:text="${blog.topic}"></h2>-->
          <div class="fakeimg" style="height:100%;"><img th:src="@{~/images/bg_img.jpg}" alt="img"></div>
          <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        <div class="card">
          <h3>Popular Post</h3>
          <div class="fakeimg"><img th:src="@{~/images/bg_img.jpg}" alt="img"></div><br>
          <div class="fakeimg"><img  th:src="@{~/images/bg_img.jpg}"  alt="img"></div><br>
          <div class="fakeimg"><img  th:src="@{~/images/bg_img.jpg}"  alt="img"></div>
        </div>
        <div class="card" th:each="blogs:${blog}">
          <h3 th:text="${blogs.topic}"></h3>
          <p th:text="${blogs.content}"></p>
        </div>
      </div>
    </div>



  <div id="respond">

    <h3>Leave a Comment</h3>
  
    <form action="post_comment.php" method="post" id="commentform">
  
      <label for="comment_author" class="required">Your name</label>
      <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
  
      <label for="email" class="required">Your email;</label>
      <input type="email" name="email" id="email" value="" tabindex="2" required="required">
  
      <label for="comment" class="required">Your message</label>
      <textarea name="comment" id="newComment" rows="10" tabindex="4"  required="required"></textarea>
  
       <!-- comment_post_ID value hard-coded as 1  -->
      <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
      <input name="submit" id="addComments" type="submit" value="Submit comment" />
      <div id="allComments"></div>
  
    </form>
  
  </div>
  <script th:src="@{~/javascript/comment.js}"></script>

<!--    News section-->
    <section class="recentNews">
      <div class="container-news">
        <h2 class="news-title">Recent News</h2>
        <div class="row_news">
          <div class="ct-blog">
            <div class="inner">
              <div class="fauxcrop">
                <a href="#"><img alt="News Entry" src="https://www.solodev.com/assets/recent-news/news-entry-1.jpg"></a>
              </div>
              <div class="ct-blog-content">
                <div class="ct-blog-date">
                  <span>March</span><strong>1</strong>
                </div>
                <h3 class="ct-blog-header">
                  WebCorpCo Will Be Visiting a Number of Upcoming Conferences
                </h3>
              </div>
            </div>
          </div>
          <div class="ct-blog">
            <div class="inner">
              <div class="fauxcrop">
                <a href="#"><img alt="News Entry" src="https://www.solodev.com/assets/recent-news/news-entry-2.jpg"></a>
              </div>
              <div class="ct-blog-content">
                <div class="ct-blog-date">
                  <span>February</span><strong>27</strong>
                </div>
                <h3 class="ct-blog-header">
                  WebCorpCo Has Been Named to Inc. 5000
                </h3>
              </div>
            </div>
          </div>
          <div class="ct-blog">
            <div class="inner">
              <div class="fauxcrop">
                <a href="#"><img alt="News Entry" src="https://www.solodev.com/assets/recent-news/news-entry-3.jpg"></a>
              </div>
              <div class="ct-blog-content">
                <div class="ct-blog-date">
                  <span>February</span><strong>25</strong>
                </div>
                <h3 class="ct-blog-header">
                  7 Crtical Factors when Choosing a CMS
                </h3>
              </div>
            </div>
          </div>
          <div class="ct-blog">
            <div class="inner">
              <div class="fauxcrop">
                <a href="#"><img alt="News Entry" src="https://www.solodev.com/assets/recent-news/news-entry-4.jpg"></a>
              </div>
              <div class="ct-blog-content">
                <div class="ct-blog-date">
                  <span>February</span><strong>23</strong>
                </div>
                <h3 class="ct-blog-header">
                  The Best Ways to Leverage Data and Deliver on Your Investment
                </h3>
              </div>
            </div>
          </div>
          <div class="ct-blog">
            <div class="inner">
              <div class="fauxcrop">
                <a href="#"><img alt="News Entry" src="https://www.solodev.com/assets/recent-news/news-entry-5.jpg">
                  <!-- <iframe src="https://news.un.org/en/story/2022/12/1131752" frameborder="0"></iframe> -->
                </a>

              </div>
              <div class="ct-blog-content">
                <div class="ct-blog-date">
                  <span>February</span><strong>20</strong>
                </div>
                <h3 class="ct-blog-header">
                  Latest API Integrations Available through CMS 8
                </h3>
              </div>
            </div>
          </div>
          <div class="ct-blog">
            <div class="inner">
              <div class="fauxcrop">
                <a href="#"><img alt="News Entry" src="https://www.solodev.com/assets/recent-news/news-entry-6.jpg"></a>
              </div>
              <div class="ct-blog-content">
                <div class="ct-blog-date">
                  <span>February</span><strong>16</strong>
                </div>
                <h3 class="ct-blog-header">
                  WebCorpCo's Latest Release (CMS 8) Available Today
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-news btn-contests">
          <a href="news_and_articles.html">VIEW ALL NEWS</a>
        </div>
      </div>
    </section>
    <div th:replace="fragments/Footer_frag.html :: footer"></div>

  </body>
</html>