<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" th:href="@{/css/booking1.css}">-->
<!--    <title>Booking</title>-->
<!--</head>-->

<!--<body class="main_bg">-->
<!--    <div class="form">-->
<!--        <div class="form-text">-->
<!--            <h1><span><img  src="" th:src="@{/images/art-1.png}" alt=""></span>Book Now <span><img src="" th:src="@{/images/art-1.png}"alt=""></span></h1>-->
<!--            <p>Be ready to have the best experience...</p>-->
<!--        </div>-->
<!--        <div class="main-form">-->
<!--            <form th:method="post" th:action="@{/user/savebook}" th:object="${booking}">-->
<!--                <div>-->
<!--                    <span>Your full name ?</span>-->
<!--                    <input type="text" name="name"  placeholder="Write your name here..." required th:field="*{fullname}" th:value="${booking.fullname}">-->
<!--                </div>-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>Your email address ?</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="email" name="name"  placeholder="Write your email here..." required th:field="*{email}" th:value="${booking.email}">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <div>-->
<!--                    &lt;!&ndash; <-&#45;&#45;this is the select option-&ndash;&gt;-->
<!--                    <span>How many people ?</span>-->
<!--                    <select name="people" id="people" required th:field="*{number_of_people}" th:value="${booking.number_of_people}">-->
<!--                        <option value="">   -&#45;&#45;number of people-&#45;&#45;</option>-->
<!--                        <option value="1">1 person</option>-->
<!--                        <option value="2">2 person</option>-->
<!--                        <option value="3">3 person</option>-->
<!--                        <option value="4">4 person</option>-->
<!--                    </select>-->
<!--                    &lt;!&ndash; <-&#45;&#45;this is the select option-&ndash;&gt;-->
<!--                </div>-->
<!--                <div>-->
<!--                    <span>which room?</span>-->
<!--                    <input type="text" name="time" id="time" placeholder="Time" required th:field="*{room}" th:value="${booking.room}">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <span>What is the checkin date ?</span>-->
<!--                    <input type="date" name="date" id="date" placeholder="date" required th:field="*{Checkin}" th:value="${booking.checkin}" >-->
<!--                </div>-->
<!--                <div>-->
<!--                    <span>What is the checkout  date ?</span>-->
<!--                    <input type="date" name="date" id="dateO" placeholder="date" required th:field="*{checkout}" th:value="${booking.checkout}">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <span>What is the checkin date ?</span>-->
<!--                    <input type="date" name="date" id="dateA" placeholder="date" required th:field="*{date}" th:value="${booking.date}" >-->
<!--                </div>-->
<!--                <div>-->
<!--                    <span>Your phone number ?</span>-->
<!--                    <input type="number" name="number" id="number" placeholder="Write your number here..." required th:field="*{mobile_no}" th:value="${booking.mobile_no}">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <span>Your phone number ?</span>-->
<!--                    <input type="number" name="number" id="amount" placeholder="amount" required th:field="*{amount}" th:value="${booking.amount}">-->
<!--                </div>-->
<!--                <div id="submit">-->
<!--                    <input type="submit" value="SUBMIT">-->
<!--                </div>-->


<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->

<!--</html>-->



<!--<html lang="en">-->

<!--<head>-->

<!--    <meta charset="UTF-8">-->

<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->

<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

<!--    <title>Hotel Booking</title>-->

<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->

<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->

<!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">-->

<!--    <link rel="stylesheet" th:href="@{~/css/booking.css}">-->


<!--    &lt;!&ndash;        <link rel="stylesheet" th:href="@{/css/booking.css}">&ndash;&gt;-->
<!--    <script defer th:src="@{~/javascript/booking.js}"></script>-->

<!--</head>-->

<!--<body>-->

<!--<div class="container">-->

<!--    <form  id="form" th:method="post" th:action="@{/user/savebook}" th:object="${booking}">-->
<!--        <h1>Book Now</h1>-->

<!--        <div class="input-control">-->

<!--            <label for="FullName">FullName</label>-->

<!--            <input id="FullName" name="FullName" type="text" th:field="*{fullname}" th:value="${booking.fullname}">-->

<!--            <div class="error"></div>-->

<!--        </div>-->

<!--        <div class="input-control">-->

<!--            <label for="Phone">Phone</label>-->

<!--            <input id="Phone" name="Phone" type="number" th:field="*{mobile_no}" th:value="${booking.mobile_no}">-->

<!--            <div class="error"></div>-->

<!--        </div>-->

<!--        <div class="input-control">-->

<!--            <label for="RoomType">Room Type</label>-->

<!--            <select name="RoomType" id="RoomType" th:field="*{room}" th:value="${booking.room}">-->

<!--                <option value="s">Single</option>-->

<!--                <option value="c">Couple</option>-->

<!--                <option value="f">Family</option>-->

<!--                <option value="g">Group</option>-->

<!--                <option value="h">Honeymoon</option>-->

<!--            </select>-->

<!--            <div class="error"></div>-->

<!--        </div>-->

<!--        <div class="input-control">-->

<!--            <label for="Number">Number Of People</label>-->

<!--            &lt;!&ndash; <input id="Number"name="Number" type="number"> &ndash;&gt;-->

<!--            <select  id="people" th:field="*{number_of_people}" th:value="${booking.number_of_people}">-->

<!--                <option value="1">1 person</option>-->

<!--                <option value="2">2 people</option>-->

<!--                <option value="3">3 people</option>-->

<!--                <option value="4">4 people</option>-->

<!--                <option value="more">more than 4</option>-->

<!--            </select>-->

<!--            <div class="error"></div>-->

<!--        </div>-->

<!--        <div class="input-control">-->

<!--            <label for="date">Check in</label>-->

<!--            &lt;!&ndash; <input id="date" name="date" type="number"> &ndash;&gt;-->

<!--            <input type="date" name="date" id="checkInDate" placeholder="date" th:field="*{Checkin}" th:value="${booking.checkin}">-->

<!--            <div class="error"></div>-->

<!--        </div>-->

<!--        <div class="input-control">-->

<!--            <label for="date">Check Out</label>-->

<!--            &lt;!&ndash; <input id="date" name="date" type="number"> &ndash;&gt;-->

<!--            <input type="date" name="date" id="checkOutDate" placeholder="date" th:field="*{checkout}" th:value="${booking.checkout}">-->

<!--            <div class="error"></div>-->

<!--        </div>-->

<!--        <button type="submit">Book Now</button>-->

<!--    </form>-->

<!--</div>-->

<!--</body>-->

<!--</html>-->