<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/booking.css}">

    <title>Booking</title>
</head>

<body class="main_bg">
    <div class="form">
        <div class="form-text">
            <h1><span><img  src="" th:src="@{/images/art-1.png}" alt=""></span>Book Now <span><img src="" th:src="@{/images/art-1.png}"alt=""></span></h1>
            <p>Be ready to have the best experience...</p>
        </div>
        <div class="main-form">
            <form th:method="post" th:action="@{/user/savebook}" th:object="${booking}">
                <div>
                    <span>Your full name ?</span>
                    <input type="text" name="name"  placeholder="Write your name here..." required th:field="*{fullname}" th:value="${booking.fullname}">
                </div>
<!--                <div>-->
<!--                    <span>Your email address ?</span>-->
<!--                    <input type="email" name="name"  placeholder="Write your email here..." required th:field="*{email}" th:value="${booking.email}">-->
<!--                </div>-->
                <div>
                    <!-- <---this is the select option--->
                    <span>How many people ?</span>
                    <select name="people" id="people" required th:field="*{number_of_people}" th:value="${booking.number_of_people}">
                        <option value="">   ---number of people---</option>
                        <option value="1">1 person</option>
                        <option value="2">2 person</option>
                        <option value="3">3 person</option>
                        <option value="4">4 person</option>
                    </select>
                    <!-- <---this is the select option--->
                </div>
                <div>
                    <span>which room?</span>
                    <input type="text" name="time" id="time" placeholder="Time" required th:field="*{room}" th:value="${booking.room}">
                </div>
                <div>
                    <span>What is the checkin date ?</span>
                    <input type="date" name="date" id="date" placeholder="date" required th:field="*{Checkin}" th:value="${booking.checkin}" >
                </div>
                <div>
                    <span>What is the checkout  date ?</span>
                    <input type="date" name="date" id="dateO" placeholder="date" required th:field="*{checkout}" th:value="${booking.checkout}">
                </div>
                <div>
                    <span>What is the checkin date ?</span>
                    <input type="date" name="date" id="dateA" placeholder="date" required th:field="*{date}" th:value="${booking.date}" >
                </div>
                <div>
                    <span>Your phone number ?</span>
                    <input type="number" name="number" id="number" placeholder="Write your number here..." required th:field="*{mobile_no}" th:value="${booking.mobile_no}">
                </div>
                <div>
                    <span>Your phone number ?</span>
                    <input type="number" name="number" id="amount" placeholder="amount" required th:field="*{amount}" th:value="${booking.amount}">
                </div>
                <div id="submit">
                    <input type="submit" value="SUBMIT">
                </div>


            </form>
        </div>
    </div>
</body>

</html>