<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/css/culinary.css}">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="x-icon" th:href="@{~/images/ServicesImages/logo.png}">
    <link rel="stylesheet" th:href="@{~/css/home_navigationStyle.css}">
    <link rel="stylesheet" th:href="@{~/css/footerStyle.css}">
    <title>Culinary Delight</title>
</head>
<body>
<div th:replace="fragments/Navi_frag.html :: navigator"></div>

<section class = "rooms sec-width" id = "rooms">
<!--    <div class = "title">-->
<!--&lt;!&ndash;        <h2 >Culinary Delight</h2>&ndash;&gt;-->
<!--    </div>-->
    <div class = "rooms-container">

        <article class = "room">
            <div class = "room-image">
                <img th:src = "@{~/images/food3.jpg}" alt = "food image">
                <img src = "@{images/food3.jpg}" alt = "food image">
            </div>
            <div class = "room-text">
                <h3>Luxury Hall</h3>
                <ul>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        High speed Internet
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Extra large space
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Standing Buffet
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus exercitationem repellendus maxime ullam tempore architecto provident unde expedita quam beatae, dolore eligendi molestias sint tenetur incidunt voluptas. Unde corporis qui iusto vitae. Aut nesciunt id iste, cum esse commodi nemo?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla corporis quasi officiis cumque, fugiat nostrum sunt, tempora animi dicta laborum beatae ratione doloremque. Delectus odio sit eius labore, atque quo?</p>
                <p class = "rate">
                    <span>$500.00 /</span> Per Night
                </p>
                <!-- <button type = "button" class = "btn"><a href="">book now</a> </button> -->
            </div>
        </article>

        <article class = "room">
            <div class = "room-image">
                <img th:src = "@{~/images/food2.jpg}" alt = "food image" height="50%">
                <img src = "@{images/food2.jpg}" alt = "food image" height="50%">
            </div>
            <div class = "room-text">
                <h3>Luxury Hall</h3>
                <ul>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        High speed Internet
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Standing Buffet
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Extra large space
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus exercitationem repellendus maxime ullam tempore architecto provident unde expedita quam beatae, dolore eligendi molestias sint tenetur incidunt voluptas. Unde corporis qui iusto vitae. Aut nesciunt id iste, cum esse commodi nemo?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla corporis quasi officiis cumque, fugiat nostrum sunt, tempora animi dicta laborum beatae ratione doloremque. Delectus odio sit eius labore, atque quo?</p>
                <p class = "rate">
                    <span>$350.00 /</span> Per Night
                </p>
                <!-- <button type = "button" class = "btn">book now</button> -->
            </div>
        </article>

        <article class = "room">
            <div class = "room-image">
                <img th:src = "@{~/images/food1.jpg}" alt = "food image">
                <img src = "@{images/food1.jpg}" alt = "food image">
            </div>
            <div class = "room-text">
                <h3>Luxury Hall</h3>
                <ul>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        High speed Internet
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Extra large space
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Standing Buffet
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus exercitationem repellendus maxime ullam tempore architecto provident unde expedita quam beatae, dolore eligendi molestias sint tenetur incidunt voluptas. Unde corporis qui iusto vitae. Aut nesciunt id iste, cum esse commodi nemo?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla corporis quasi officiis cumque, fugiat nostrum sunt, tempora animi dicta laborum beatae ratione doloremque. Delectus odio sit eius labore, atque quo?</p>
                <p class = "rate">
                    <span>$900.00 /</span> Per Night
                </p>
                <!-- <button type = "button" class = "btn">book now</button> -->
            </div>
        </article>

    </div>

</section>
<div th:replace="fragments/Footer_frag.html :: footer"></div>

</body>


<script>
    let myPage = "clu";
    let listGroupItem = Array.from(document.getElementsByClassName("list-group-item"));
    listGroupItem.forEach(i=>{
        i.classList.remove("active")
    })
    let activeID = document.getElementById(myPage);
    activeID.classList.add("active");
</script>


</html>