<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot Password</title>
    <link rel="stylesheet" href="../static/css/forgotPassword.css">
    <script src="../static/javascript/forgotPassword.js" defer></script>
</head>
<body class="whole-body" >
    <div class="main-wrapper">
        <div class="wrapper-left">
            <img class="login-image" src="../static/images/forgot.jpg" alt="">
        </div>
        <div class="wrapper-right">
            <h2 class="h2">Forgot Password</h2>
            <h3 class="h3-1">Enter the OTP here.</h3>
            <input class="email-box" type="email" id="E-mail" name="Name" placeholder="Enter the OTP" >
            <!-- <a class="a-1" href="">Login?</a> -->
            <button class="forgot-button" onclick="fill()">Send Verification</button>
            <h3 class="h3-2">Back to Login
                <a class="a-2" href="">Click Here!</a>
            </h3>
        </div>
    </div>
</body>
</html>