<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery of Luxury Hotel </title>
     <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/magnific-popup.css"> 
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" th:href="@{/css/gallery.css}">


    <script th:src="@{javascript/gallery.js}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.magnific-popup/1.0.0/jquery.magnific-popup.js"></script>
</head>
<body>
    <div class="Main-Wrapper">
        <div class="Wrapper-top">
              <h2>GALLERY</h2>
               <p> We want your stay at our lush hotel to be truly unforgettable.  That is why we give special attention to all of your needs so 
                that we can ensure an experience quite uniquw. Luxury hotels offers the perfect setting with stunning views for leisure
                and our modern luxury resort facilities will help you enjoy the best of all.  </p>
        </div>
        <div class="popup-gallery">
         
           
            <!-- <div class="col-md-4">
                <div class="resources-item"> -->
                    <div id="bottom-up1" class="resources-category-image">
                        <a href="../static/images/gallery5.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery5.jpg"  style="width:100% ;height:100% ;" /> </a>
                    </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->
                    <div id="bottom-up2" class="resources-category-image">
                      <a href="../static/images/gallery3.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery3.jpg"  style="width:100% ;height:100% ;" /> </a>
                    </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->
                    <div id="bottom-up3" class="resources-category-image">
                        <a href="../static/images/gallery13.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery13.jpg" style="width:100% ;height:100% ;"/> </a>
                    </div>
                <!-- </div>
            </div> -->
            
            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up4" class="resources-category-image">
                        <a href="../static/images/gallery9.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery9.jpg"   style="width:100% ;height:100% ;"/> </a>
                    </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->
                    <div id="bottom-up5" class="resources-category-image">
                        <a href="../static/images/gallery12.jpg" title="Environment"></a><img class="img-responsive" src="../static/images/gallery12.jpg"  style="width:100% ;height:100% ;" /> </a>
                    </div>
                <!-- </div>
            </div>
             -->
            <!-- <div class="col-md-4">
                <div class="resources-item"> -->
                    
                    <div id="bottom-up6" class="resources-category-image">
                        <a href="../static/images/gallery1.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery1.jpg"  style="width:100% ;height:100% ;" /> </a>
                    </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up7" class="resources-category-image">
                        <a href="../static/images/gallery2.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery2.jpg"  style="width:100% ;height:100% ;" /> </a>
                    </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up8" class="resources-category-image">
                        <a href="../static/images/gallery3.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery3.jpg"  style="width:100% ;height:100% ;" /> </a>
                    </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up9" class="resources-category-image">
                        <a href="../static/images/premium3.jpg" title="Environment"><img class="img-responsive" src="../static/images/premium3.jpg"  style="width:100% ;height:100% ;"/> </a>
                    </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up10" class="resources-category-image">
                        <a href="../static/images/gallery4.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery4.jpg"  style="width:100% ;height:100% ;" /> </a>
                    </div>
                <!-- </div>
            </div> -->
<!-- 
            <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up11" class="resources-category-image">
                        <a href="../static/images/gallery6.jpg" title="Environment"> <img class="img-responsive" src="../static/images/gallery6.jpg"  style="width:100% ;height:100% ;"/> </a>
                    </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up12" class="resources-category-image">
                        <a href="../static/images/gallery4.jpg" title="Environment"> <img class="img-responsive" src="../static/images/luxeroom4.jpg"  style="width:100% ;height:100% ;" /> </a>
                    </div>
                <!-- </div> -->
            <!-- </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up13" class="resources-category-image">
                        <a href="../static/images/gallery11.jpg" title="Environment"> <img class="img-responsive" src="../static/images/gallery11.jpg"  style="width:100% ;height:100% ;"/> </a>
                    </div>
                <!-- </div>
            </div> -->
<!-- 
            <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up14" class="resources-category-image">
                        <a href="../static/images/gallery8.jpg" title="Environment"> <img class="img-responsive" src="../static/images/gallery8.jpg"  style="width:100% ;height:100% ;"/> </a>
                    </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up15" class="resources-category-image">
                        <a href="../static/images/gallery6.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery6.jpg" style="width:100% ;height:100% ;"/> </a>
                    </div>
                <!-- </div>
            </div> -->
<!-- 
            <div class="col-md-4"> -->
                <!-- <div class="resources-item"> -->

                    <div id="bottom-up16" class="resources-category-image">
                        <a href="../static/images/gallery10.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery10.jpg"  style="width:100% ;height:100% ;"/> </a>
                        </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up17" class="resources-category-image">
                        <a href="../static/images/gallery15.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery15.jpg"  style="width:100% ;height:100% ;"/> </a>
                    </div>
                <!-- </div>
            </div> -->
<!-- 
            <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up18" class="resources-category-image">
                        <a href="../static/images/gallery14.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery14.jpg"  style="width:100% ;height:100% ;"/> </a>
                    </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up19" class="resources-category-image">
                        <a href="../static/images/gallery13.jpg" title="Environment"><img class="img-responsive" src="../static/images/gallery13.jpg" style="width:100% ;height:100% ;"/> </a>
                        </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                        <div id="bottom-up20" class="resources-category-image">
                            <a href="../static/images/gallery7.jpg" title="Environment"> <img class="img-responsive" src="../static/images/gallery7.jpg"  style="width:100% ;height:100% ;"/> </a>
                        </div>
                <!-- </div>
            </div> -->

            <!-- <div class="col-md-4">
                <div class="resources-item"> -->

                    <div id="bottom-up21" class="resources-category-image">
                        <a href="../static/images/gallery2.jpg" title="Environment"> <img class="img-responsive" src="../static/images/gallery2.jpg " style="width:100% ;height:100% ;" /> </a>
                        </div>
                <!-- </div>
            </div> -->
                

             
        </div>

                



       
       
    


    
         

      


       
    </div>
    

</body>
</html>