<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>laudary service</title>
    <link rel="stylesheet" th:href="@{/css/laundry1.css}">
</head>
<body>
<div class="main">
    <div class="container">
        <form th:method="post" th:action="@{~/admin/savelaundary}" th:object="${laundry}">
  <label class="l1">Room No</label><br><br>
  <input class="ibox" type="number" name="room no" required th:field="*{roomno}" th:value="${laundry.roomno}"><br><br>
  <label class="l2">No of clothes</label><br><br>
  <input class="ibox1" type="number" name="clothes" onkeyup="mult(this.value);" required th:field="*{noofclothes}" th:value="${laundry.noofclothes}"><br><br>
        <label class="l3">Price</label><br><br>
        <input id="ibox2" type="number" name="print" required th:field="*{price}" th:value="${laundry.price}"><br><br>
 <div><button id="btn" type="submit" value="Send">Collect</button></div>
        </form>
    </div>
</div>
<script>
    function mult(value){
        var x;
        x=10*value;
        document.getElementById("ibox2").value=x;
    }

</script>

</body>
</html>