<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>laudary service</title>
    <link rel="stylesheet" href="../static/css/laundry1.css">
</head>
<body>
<div class="main">
    <div class="container">
  <label class="l1">Room No</label><br>
  <input class="ibox" type="text" name="room no"><br><br>
  <label class="l2">No of clothes</label><br>
  <input class="ibox1" type="number" name="clothes"><br><br>
 <div><button class="btn" type="submit">Collect</button></div>
    </div>
</div>

</body>
</html>