
<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/newbookings.css}">
    <title>Booking</title>
</head>

<body class="main_bg">
    <div class="Main-wrapper">
        <div class="form-text">
            <!-- <h1><span><img src="../static/images/art-1.png" alt=""></span>Book Now <span><img src="../static/images/art-1.png" alt=""></span></h1> -->
            <h2>The best room just for you!</h2>
        </div>
        <div class="wrapper-bottom">
            <form action="#" method="get">
                <div class ="div1">
                    <span>Full name </span>
                    <input type="text" name="name" id="name" placeholder="Enter your name here..." required>
                </div>
                <div class="div2">
                    <span>Room</span>
                    <input type="text" name="name" id="room" placeholder="Enter your desired room" required> 
                </div>

                <div class ="div3">
                    <span>Date </span>
                    <input type="date" name="date" id="date" placeholder="Date of booking" required>
                </div>

               
                <div class = "div4">
                    <span>Checkin_date</span>
                    <input type="date" name="date" id="date" placeholder="Enter Checkin_date" required>
                </div>

                <div class = "div5">
                    <span>Checkout_date</span>
                    <input type="date" name="date" id="date" placeholder="Enter Checkout_date" required>
                </div>

                <div class = "div6">
                    <span>Phone number</span>
                    <input type="number" name="number" id="number" placeholder="Enter your number here..." required>
                </div>

                <div class = "div7">
                    <span> Total_payment</span>
                    <input type="number" name="number" id="number" placeholder="Total price" required>
                </div >
                <div id="Save" class="div8">
                    <input type="submit" value="Save" id="submit">
                </div>


            </form>
        </div>
    </div>
</body>

</html>
