<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Notice form</title>
    <link rel="stylesheet" th:href="@{~/css/admin_blog.css}">
</head>
<body>
    <div class="notice-upload">
        <h1>Add Notice</h1>
        <div class="upload_notice">
            <form id="add-notice-form" th:method="post" th:action="@{/admin/noticeAdd}" th:object="${blog}">

                <label for="topic-name">Topic:</label><br>
                <input type="text" id="topic-name" name="title"  th:field="*{topic}" required th:value="${blog.topic}"><br>

                <label for="topic-name">Publisher:</label><br>
                <input type="text"  name="title"  th:field="*{publisher}" required th:value="${blog.publisher}"><br>

                <label for="published-date">Date</label><br>
                <input type="text" id="published-date" name="title" required th:field="*{date_published}" th:value="${blog.date_published}"><br>

                <label for="content">Content:</label><br>
                <textarea id="content" name="content" required th:field="*{content}" th:value="${blog.content}"></textarea><br><br>

                <button type="submit" function="submit-notice">Submit</button>

            </form>
        </div>
    </div>
<!--    <script th:src="@{~/javascript/notice-upload.js}"></script>-->


</body>
</html>