<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/order_food.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <link rel = "icon" href = "../static/images/logo.png" type = "image/png">
    <title>order food</title>
</head>
<body>
<section class = "rooms sec-width" id = "rooms">
    <div class = "title">
        <h2 >foods</h2>
    </div>
    <div class = "rooms-container">

        <article class = "room">
            <div class = "room-image">
                <img src = "../static/images/img1.jpg" alt = "room image">
            </div>
            <div class = "room-text">
                <h3>Luxury Hall</h3>
                <ul>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        High speed Internet
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Extra large space
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Standing Buffet
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus exercitationem repellendus maxime ullam tempore architecto provident unde expedita quam beatae, dolore eligendi molestias sint tenetur incidunt voluptas. Unde corporis qui iusto vitae. Aut nesciunt id iste, cum esse commodi nemo?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla corporis quasi officiis cumque, fugiat nostrum sunt, tempora animi dicta laborum beatae ratione doloremque. Delectus odio sit eius labore, atque quo?</p>
                <p class = "rate">
                    <span>$500.00 /</span> Per Night
                </p>
                <button type = "button" class = "btn"><a href="">Order Now</a> </button>
            </div>
        </article>

        <article class = "room">
            <div class = "room-image">
                <img src = "../static/images/img2.jpg" alt = "room image" height="50%">
            </div>
            <div class = "room-text">
                <h3>Luxury Hall</h3>
                <ul>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        High speed Internet
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Standing Buffet
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Extra large space
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus exercitationem repellendus maxime ullam tempore architecto provident unde expedita quam beatae, dolore eligendi molestias sint tenetur incidunt voluptas. Unde corporis qui iusto vitae. Aut nesciunt id iste, cum esse commodi nemo?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla corporis quasi officiis cumque, fugiat nostrum sunt, tempora animi dicta laborum beatae ratione doloremque. Delectus odio sit eius labore, atque quo?</p>
                <p class = "rate">
                    <span>$350.00 /</span> Per Night
                </p>
                <button type = "button" class = "btn">Order now</button>
            </div>
        </article>

        <article class = "room">
            <div class = "room-image">
                <img src = "../static/images/img3.jpg" alt = "room image">
            </div>
            <div class = "room-text">
                <h3>Luxury Hall</h3>
                <ul>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        High speed Internet
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Extra large space
                    </li>
                    <li>
                        <i class = "fas fa-arrow-alt-circle-right"></i>
                        Standing Buffet
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus exercitationem repellendus maxime ullam tempore architecto provident unde expedita quam beatae, dolore eligendi molestias sint tenetur incidunt voluptas. Unde corporis qui iusto vitae. Aut nesciunt id iste, cum esse commodi nemo?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla corporis quasi officiis cumque, fugiat nostrum sunt, tempora animi dicta laborum beatae ratione doloremque. Delectus odio sit eius labore, atque quo?</p>
                <p class = "rate">
                    <span>$900.00 /</span> Per Night
                </p>
                <button type = "button" class = "btn">Order now</button>
            </div>
        </article>

    </div>
</section>
</body>
</html>