<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Order Food</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

  <!--  <link rel="stylesheet" th:href="@{/css/booking.css}">-->
  <!--  <script defer th:src="@{~/javascript/booking.js}"></script>-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/booking.css}">

  <title>order food</title>
</head>

<body>

<div class="container">

  <form  id="form" th:method="post" th:action="@{/orderFood/saveorder}" th:object="${order}">
    <h1>Book Now</h1>

    <div class="input-control">

      <label for="item">item</label>

      <input id="item" name="item" type="text"  th:field="*{item}" th:value="${order.item}">

      <div class="error"></div>

    </div>
    <div class="input-control">

      <label for="room">Room No</label>

      <input id="room" name="Room No" type="text"  th:field="*{room_no}" th:value="${order.room_no}">

      <div class="error"></div>

    </div>

    <div class="input-control">

      <label for="Phone">Phone</label>

      <input id="Phone" name="Phone" type="number"  th:field="*{mobile_no}" th:value="${order.mobile_no}">

      <div class="error"></div>

    </div>

    <div class="input-control">

      <label for="Number">Quantity</label>

      <select  id="people"  th:field="*{quantity}" th:value="${order.quantity}">

        <option value="1">1</option>

        <option value="2">2</option>

        <option value="3">3</option>

        <option value="4">4</option>

        <option value="5">5</option>

      </select>

      <div class="error"></div>

      <div>
        <button type="submit">Order Now</button>
      </div>

    </div>
  </form>

</div>

</body>

</html>