<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scan to pay</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu&amp;display=swap"
    />
   <link rel="stylesheet" th:href="@{~/css/qrscannerstyle.css}" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
   <style>
    input{
      display: none;
    }
   </style>
  </head>
  <body>
    <div class="information">
          <h1>Luxury Hotel : Your home away home</h1>
          <h3>Kathmandu, nepal</h3>
          <h3>Phone : 01-1234567</h3>
          <h3>Email : contactluxury@luxury.com</h3>
    </div>
    <div class="header">
      <div class="box">
        <h1>Scan and Pay</h1>
        <hr />
        <div class="sqrcode"></div>
        <div class="qrcode"></div>
        
        <!-- <input type="text" value="Luxury Hotel: Kathmandu" id="name" onchange="generateQr()"/> -->

      </div>
    </div>
    <script th:src="@{~/javascript/qrscanner.js}"></script>
  </body>
</html>