<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Rating</title>
    <link rel="stylesheet" href="rating.css">

</head>
<body>
<!-- <h1 class="rating_heading"> 5 star Rating</h1> -->
<div class="star_rating">
    <p> How was your experience?</p>
    <button class="star">&#9734;</button>
    <button class="star">&#9734;</button>
    <button class="star">&#9734;</button>
    <button class="star">&#9734;</button>
    <button class="star">&#9734;</button>
    <!-- <p class="current_rating"> 0 of 5</p> -->
</div>
<script>

    const allStar=document.querySelectorAll('.star');
    // let current_rating=document.querySelector('.current_rating');
    allStar.forEach((star, i) => {
        star.onclick=function(){
            // let current_rating_level= i+1;
            // current_rating.innerText=`${current_star_level} of 5`;
            allStar.forEach((star, j) => {
                if(current_rating_level >= j+1)
                {
                    star.innerHTML='&#9733';
                }else{
                    star.innerHTML='&#9734'
                }
            })
        }
    })
</script>
</body>
</html>