<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forgotPassword.css}">
    <script th:src="@{/javascript/forgotPassword.js}" defer></script>
</head>
<body class="whole-body" >
<div class="main-wrapper">
    <div class="wrapper-left">
        <img class="login-image" th:src="@{/images/forgot.jpg}">
    </div>
    <div class="wrapper-right">
        <form th:action="@{/user/request-password-reset}" method="post">
            <h2 class="h2">Reset Password</h2>
            <h3 class="h3-1">Enter strong password</h3>
            <input class="email-box" type="email" id="E-mail" name="email" placeholder="Enter your E-mail" required autofocus/>
            <!-- <a class="a-1" href="">Login?</a> -->
            <button class="forgot-button" onclick="fill()">Send Verification</button>
            <h3 class="h3-2">Back to Login
                <a class="a-2" href="">Click Here!</a>
            </h3>
        </form>
    </div>
</div>
</body>
</html>