<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/rooms.css}">
    <title>Document</title>
</head>
<body>
    <div class="Main-Wrapper">
        <div class="Wrapper-top">
            <div class="top-left">
                <h2>OUR CHOICE -------*</h2>
                <h3>the best room just for you!</h3>
            </div>
            <div class="top-right">
               <p>Our hotel rooms have everything you need for a pleasant stay.
                 large comfortable beds covered with special bedspreads that get
                  made by themselves, and bathrooms that are clean and shiny. </p>
            </div>

        </div>
        <div class="Wrapper-bottom">
            <div class="bottom-up">
                <div class="price">$200</div>
                <button><a href="coupleroom.html">Couple Room</a></button>
            </div>
            <div class="bottom-up1">
                <div class="price">$200</div>
                <button><a href="luxeroom.html">Luxe Room</a></button>
            </div>
            <div class="bottom-up2">
                <div class="price">$200</div>
                <button><a href="familyroom.html">Family Room</a></button>
            </div>
            <div class="bottom-up3">
                <div class="price">$200</div>
                <button><a href="masterroom.html">Master Room</a></button>
            </div>
            <div class="bottom-up4">
                <div class="price">$200</div>
                <button><a href="premiumroom.html">Premium Room</a></button>
            </div>
        </div>


        <div class="wrapper-botton-bottom">
            <div class="first">

            </div>
            <div class="second">

            </div>
            <div class="third">

            </div>
        </div>
    </div>

</body>
</html>    