<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding packages</title>
    <link rel="stylesheet" th:href="@{~/css/seepackage.css}">
    <link rel="stylesheet" th:href="@{~/css/footerStyle.css}">
    <!-- <script src="../static/javascript/nearby_places.js"></script> -->
</head>
<body>
        <div th:replace="fragments/Footer_frag.html :: footer"></div>
      <div class ="Main-wrapper">
      
        <h2>Our Packages</h2>
       
        
        <div class="container">
        
        <div class="wrapper1">
            <div class="wrapper-top">
                <img class="myImg" th:src="@{~/images/package1.jpg}" style="width:100% ;height:100% ;" >
            </div>
            <div class="wrapper-bottom">
             <h3>Birthday Celebration</h3>
             <p>One Day, a Lifetime of Memories.</p>
             <p>'Your Beautiful day,Our Beautiful venue'  </p>

             <button class="btn1"><a href="birthdaydetail.html">See More Details</a> </button>
             
            </div>

        </div>

        <div class="wrapper1">
            <div class="wrapper-top">
                <img class="myImg" th:src="@{~/images/package2.jpg}" style="width:100% ;height:100% ;" >
            </div>
            <div class="wrapper-bottom">
             <h3>Wedding Celebration</h3>
             <p>One Day, a Lifetime of Memories.</p>
             <p>'Your Beautiful day,Our Beautiful venue'  </p>

             <button class="btn1"><a href="weddingdetail.html">See More Details</a> </button>
             
            </div>

        </div>

        <div class="wrapper1" id="wrapper2">
            <div class="wrapper-top">
                <img class="myImg" th:src="@{~/images/package3.jpg}" style="width:100% ;height:100% ;" >
            </div>
            <div class="wrapper-bottom">
             <h3>Anniversary Celebration</h3>
             <p>One Day, a Lifetime of Memories.</p>
             <p>'Your Beautiful day,Our Beautiful venue'  </p>

             <button class="btn1"><a href="anniversarydetail.html">See More Details</a> </button>
            
            </div>

        </div>
        </div>

      </div>

</body>
</html>