<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script th:src="@{/javascript/script.js}" defer></script>
  <link th:href="@{/css/home_navigation.css}" rel="stylesheet">
  <link th:href="@{/css/ServiceStyle.css}" rel="stylesheet">
  <link th:href="@{/css/tabstyle.css}" rel="stylesheet">
  <link rel="shortcut icon" type="x-icon" href="../static/images/ServicesImages/logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <title>Services: List of the services provided to custoemr</title>

</head>

<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo"> <a th:href="@{/homepage.html}"><img th:src="@{images/ServicesImages/logo.png}" alt=""></a></label>
    <ul>
      <li><a th:href="@{/user/homepage}">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a class="active" th:href="@{/user/services}">Services</a></li>
      <li><a href="#">Contact</a></li>
      <li><a th:href="@{/user/booking}">Book</a></li>
      <div class="dropdown">
        <button class="dropbtn">See More</button>
        <div class="dropdown-content">
          <a th:href="@{/user/gallery}">Gallery</a>
          <a th:href="@{/user/blog}">Blogs</a>
          <a th:href="@{/user/nearby_places}">Visit nearby</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn imageButton">User</button>
        <!-- <button class="dropbtn imageButton"><img src="images/logo.png" alt=""></button> -->
        <div class="dropdown-content">
          <a href="#">Profile</a>
          <a href="#">Settings</a>
          <a href="#">logout</a>
        </div>
      </div>
    </ul>
  </nav>
  <section>
    <ul class="tabs">
      <li data-tab-target="#bar" class="active tab">Bar</li>
      <li data-tab-target="#pickup" class="tab">Pickup</li>
      <li data-tab-target="#restaurent" class="tab">restaurant</li>
      <li data-tab-target="#delights" class="tab">culinary delight</li>
      <li data-tab-target="#Gym" class="tab">gym</li>
    </ul>

    <div class="tab-content">
      <div id="bar" data-tab-content class="active">
        <div class="maindiv">
          <div class="section">
            <div >
              <figure>
                <img src="../static/images/ServicesImages/bar1.jpg" alt="">
              </figure>
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
          <div class="section">
            <div >
              <figure>              
                <img src="../static/images/ServicesImages/bar2.jpg" alt="">
              </figure>
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
          <div class="section">
            <div >
              <figure>              <img src="../static/images/ServicesImages/bar3.jpg" alt="">
              </figure>
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
        </div>

      </div>
      <div id="pickup" data-tab-content>
        <div class="maindiv">
            <div class="section">
              <div >
              <figure>
                <img src="../static/images/ServicesImages/car1.jpg" alt="">
              </figure>
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
          <div class="section">
            <div >
              <figure>              <img src="../static/images/ServicesImages/car2.jpg" alt="">
              </figure>
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
          <div class="section">
            <div>
              <figure>              <img src="../static/images/ServicesImages/car3.jpg" alt="">
              </figure>
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="restaurent" data-tab-content>
        <div class="maindiv">
            <div class="section">
              <div>
              <img src="../static/images/ServicesImages/resta1.jpg" alt="">
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
          <div class="section">
            <div>
              <img src="../static/images/ServicesImages/resta2.jpg" alt="">
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
          <div class="section">
            <div>
              <img src="../static/images/ServicesImages/rest3.jpg" alt="">
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="delights" data-tab-content>
        <div class="maindiv">
          <div class="section">
            <div>
              <img src="../static/images/ServicesImages/food1.jpg" alt="">
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
          <div class="section">
            <div >
              <img src="../static/images/ServicesImages/food2.jpg" alt="">
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
          <div class="section">
            <div>
              <img src="../static/images/ServicesImages/food3.jpg" alt="">
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="Gym" data-tab-content>
        <div class="maindiv">
            <div class="section">
              <div>
              <img src="../static/images/ServicesImages/gym1.jpg" alt="">
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
          <div class="section">
            <div>
              <img src="../static/images/ServicesImages/gym2.jpg" alt="">
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
          <div class="section">
            <div >
              <img src="../static/images/ServicesImages/gym3.jpg" alt="">
              <div class="text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam fugiat velit ad, culpa itaque
                dolor
                molestiae unde ipsa aspernatur! Dolorum iure commodi numquam temporibus quibusdam esse repudiandae
                repellendus fugit!
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet qui, distinctio hic consectetur
                soluta
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>