<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <title>Rooms</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{~/css/dashstyle.css}">
    <link rel="stylesheet" th:href="@{~/css/navigation.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{~/images/logo.png}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:src="@{~/javascript/notification.js}" defer></script>
    <link rel="stylesheet" th:href="@{~/css/adminBlogPage.css}">
         <link rel="stylesheet" th:href="@{/css/viewCustomerlist.css}">
    <link rel="stylesheet" th:href="@{~/css/Laundaryadmin.css}">
</head>
<body>
<div th:replace="~{fragments/AdminFrag.html :: admin_navigation}"></div>

    <div class="Main-wrapper">
        <div class="wrapper-top">
            <h2>Bookings</h2>
            <div class="search-icon">
            <input type="text" placeholder="Search by name" name="search">
            <button type="submit" class ="btn4"><i class="fa fa-search"></i></button>
            </div>
            <button class="btn1"><a th:href="@{/admin/newbooking}">+ New Bookings</a></button>

        </div>
       
            <div style="overflow-x:auto;"></div>
            <table>
                <thead>
                <tr>
                  <th>Cust_Id</th>
                  <th>Full Name</th>
                  <th>Room</th>
                  <th>Date</th>
                  <th>Checkin_date</th>
                  <th>Checkout_date</th>
                  <th>Total_payment</th>
                  <th>Phone-number</th>
                  <th>Number</th>
                  <th>Status</th>
                  <th>Action</th>
                  <th>Bill</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="booking:${bookinglist}">
                    <td th:text="${booking.id}"></td>
                    <td th:text="${booking.fullname}"></td>
                    <td th:text="${booking.rooms}"></td>
                    <td th:text="${booking.date}"></td>
                    <td th:text="${booking.checkin}"></td>
                    <td th:text="${booking.checkout}"></td>
                    <td th:text="${booking.total}"></td>
                    <td th:text="${booking.mobileNo}"></td>
                    <td th:text="${booking.number_of_people}"></td>
<!--                    <td> <a class="edit" href="#" >Active</a></td>-->
<!--                    <td> <a class="edit" href="#" >delete</a></td>-->
<!--                    <td> <a class="edit" href="#" >edit</a></td>-->
                    <td> <a class="edit" th:href="@{~/admin/delete/}+${booking.id}" >delete</a></td>
                    <td> <a class="edit" th:href="@{~/admin/edit/}+${booking.id}" >edit</a></td>
                    <td> <a class="edit" href="">Bill</a></td>

                </tr>
                </tbody>

              </table>


       
    </div>

</body>

<script>
    let myPage = "new";
    let listGroupItem = Array.from(document.getElementsByClassName("list-group-item"));
    listGroupItem.forEach(i=>{
        i.classList.remove("active")
    })
    let activeID = document.getElementById(myPage);
    activeID.classList.add("active");
</script>

</html>