<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wedding Package of Luxury Hotel</title>
    <link rel="stylesheet" href="../static/css/weddingPackage.css">
</head>
<body>
<div class="Main-wrapper">
    <h2>Weddings with Luxury </h2>

    <div class="container1">

        <div class="top-left">

            <p>Hotel Luxury provides an exquisite wedding location offering uncompromising service, facilities, theme party facilities and exquisite cuisine to meet your needs. The wedding facilities at our hotel offer a range of options from beautiful landscape gardens, to the Luxury Ballroom (wedding/marriage hall) and an array of guestrooms, suites and leisure facilities; Luxury Hotel offers choice and variety unsurpassed in Nepal.</p>


            <p>At Luxury we are passionate about creating beautiful, stress free events. We’ve done over 400 weddings and know that planning a wedding doesn’t have to be a stressful experience.</p>
        </div>

        <div class="top-right">

            <img class="image1" id="img1" src="../static/images/weddingpackage3.jpg">
            <img class="image1" id="img2" src="../static/images/weddingpackage2.jpg" >
            <img class="image1" id="img3" src="../static/images/weddingpackage1.jpg" >

         <p class="content">Hotel Luxury boasts, having one of the biggest wedding spaces in town.
            The Luxury Ballroom can accommodate up to 600 guests at a time or alternately it can be sub-divided into two intimate venues.
            An outdoor pre-function area which opens on to a garden is also available for cocktail receptions. A total of 3,125 sq m of outdoor function space is available within the beautifully landscaped hotel grounds suitable for large scale weddings.</p>

        </div>
    </div>
    <hr width="54%" color="#233975" size="3px" align="left" />

    <h2>Services </h2>
    <div class="container2">
        <div class="bottom-left">

            <img class="image1" id="img4" src="../static/images/weddingpackage3.jpg" style="width:30% ;height:90% ;">
            <img class="image1" id="img5" src="../static/images/weddingpackage2.jpg" style="width:30% ;height:90% ;">
            <img class="image1" id="img6" src="../static/images/weddingpackage1.jpg" style="width:30% ;height:90% ;">

        </div>


        <div class="bottom-right">
           <div class="rows">
              <div class="column" >
                  <h4>Set-up</h4>
                  <p>Most rooms can be set up to match your plans. we offer banquet,reception and casual setups</p>
              </div>
               <div class="column" >
                   <h4>Set-up</h4>
                   <p>Most rooms can be set up to match your plans. we offer banquet,reception and casual setups</p>
               </div>
               <div class="column" >
                   <h4>Set-up</h4>
                   <p>Most rooms can be set up to match your plans. we offer banquet,reception and casual setups</p>
               </div>
           </div>
            <div class="rows">
                <div class="column" >
                    <h4>Set-up</h4>
                    <p>Most rooms can be set up to match your plans. we offer banquet,reception and casual setups</p>
                </div>
                <div class="column" >
                    <h4>Set-up</h4>
                    <p>Most rooms can be set up to match your plans. we offer banquet,reception and casual setups</p>
                </div>
                <div class="column" >
                    <h4>Set-up</h4>
                    <p>Most rooms can be set up to match your plans. we offer banquet,reception and casual setups</p>
                </div>
            </div>
            <div class="rows">
                <div class="column" >
                    <h4>Set-up</h4>
                    <p>Most rooms can be set up to match your plans. we offer banquet,reception and casual setups</p>
                </div>
                <div class="column" >
                    <h4>Set-up</h4>
                    <p>Most rooms can be set up to match your plans. we offer banquet,reception and casual setups</p>
                </div>
                <div class="column" >
                    <h4>Set-up</h4>
                    <p>Most rooms can be set up to match your plans. we offer banquet,reception and casual setups</p>
                </div>
            </div>
        </div>

    </div>
    <br/>
    <hr width="65%" color="#233975" size="3px" align="right" />

    <div class="container3">
        <div class="foot-left">
            <img class="image3" src="../static/images/weddingpackage2.jpg" style="width:75% ;height:94% ;">
        </div>
        <div class="foot-right">
            <h3>Off-Site Weddings</h3>
            <p>Love our food and service, but are wanting to have your wedding at a different location? Don’t worry – you can have the best of both worlds!</p>
            <h4>We now do off-site catering and wedding planning!</h4>
            <p>Whether you simply want us for your catering, or you want our help to organising everything from furniture to styling – we’re here for you. Get in touch and we will put together a tailored quote for you. </p>
        </div>
    </div>

    <hr width="65%" color="#233975" size="3px" align="right" />
    <h2>Pricing</h2>
    <div class="container4">
        <div class="first">
            <h3>PACKAGE 1</h3>
            <h3>BRONZE</h3>
            <h3>$1500</h3>
            <ul class ="list1">
                <li>Six hours Session</li>
                <li>Engagement Session</li>
                <li>Online Gallery</li>
                <li>Online Proofing</li>
            </ul>
        </div>
        <div class="second">
            <h3>PACKAGE 2</h3>
            <h3>SILVER</h3>
            <h3>$2000</h3>
            <ul class ="list1">
                <li>Eight hours Session</li>
                <li>1 and half Hour Engagement Session</li>
                <li>2 Photographers</li>
                <li>Online Gallery</li>
                <li>Online Proofing</li>
                <li>Complementary Photobooth</li>
            </ul>
        </div>
        <div class="third">
            <h3>PACKAGE 3</h3>
            <h3>Gold</h3>
            <h3>$3000</h3>
            <ul class ="list1">
                <li>Ten hours Session</li>
                <li>2 Hour Engagement Session</li>
                <li>4 Photographers</li>
                <li>Complementary Photobooth</li>
                <li>Online Gallery</li>
                <li>Online Proofing</li>

            </ul>

        </div>

    </div>

</div>


</body>
</html>